{
  "presets": ["@babel/preset-env"],
  "compact": false,
  "plugins": [
    ["babel-plugin-minify-dead-code-elimination"],
    ["babel-plugin-minify-guarded-expressions"],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
