.listicle-wrapper {
  @include counter {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 7em;
    font-weight: bold;
    font-style: italic;
    font-family: "Jumble", sans-serif;
    transform: translateY(-20%);
    color: rgb(230,230,230);
    line-height: 1;
    z-index: -1;
  };
  .item {
    position: relative;
    padding-left: 50px;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
  }
}
