<div class="hide-for-small-only">
	<div class="radius bordered shadow card">
		<ul class="uls-side vertical menu" id="section-nav">
			<li class="sub-section-link">
				<a class="off-white-bg" href="https://www.ulster.ac.uk/isd">Ulster University ISD <span class="show-for-sr">- view the Ulster University ISD webpages</span></a>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/home">Home <span class="show-for-sr">- view the Home webpages</span></a>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/staff">Staff <span class="show-for-sr">- view the Staff webpages</span></a>
				<ul class="menu vertical nested">
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/the-basics">The Basics <span class="show-for-sr">- view the The Basics webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/staff-email">Staff Email <span class="show-for-sr">- view the Staff Email webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/passwords">Passwords <span class="show-for-sr">- view the Passwords webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/staff-portal">Staff Portal <span class="show-for-sr">- view the Staff Portal webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/wireless-services">Wireless Services <span class="show-for-sr">- view the Wireless Services webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/protecting-information">Protecting Information <span class="show-for-sr">- view the Protecting Information webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/media-services">Media Services <span class="show-for-sr">- view the Media Services webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/software">Software <span class="show-for-sr">- view the Software webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/staff/software/software-co-ordinators">Software Co-ordinators <span class="show-for-sr">- view the Software Co-ordinators webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/visitors-and-associates">Visitors,Guests &amp; Associates <span class="show-for-sr">- view the Visitors,Guests &amp; Associates webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/staff/staff-it-satisfaction-survey">Staff IT Satisfaction Survey <span class="show-for-sr">- view the Staff IT Satisfaction Survey webpages</span></a>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/students">Students <span class="show-for-sr">- view the Students webpages</span></a>
				<ul class="menu vertical nested">
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/getting-started">Getting Started <span class="show-for-sr">- view the Getting Started webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/getting-started/student-charter">Student Charter <span class="show-for-sr">- view the Student Charter webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/computing-facilities">Computing Facilities <span class="show-for-sr">- view the Computing Facilities webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/computing-facilities/core-software">Core Software <span class="show-for-sr">- view the Core Software webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/computing-facilities/student-workstations-at-belfast">Student Workstations At Belfast <span class="show-for-sr">- view the Student Workstations At Belfast webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/computing-facilities/student-workstations-at-coleraine">Student Workstations At Coleraine <span class="show-for-sr">- view the Student Workstations At Coleraine webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/computing-facilities/student-workstations-at-jordanstown">Student Workstations At Jordanstown <span class="show-for-sr">- view the Student Workstations At Jordanstown webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/computing-facilities/student-workstations-at-magee">Student Workstations at Magee <span class="show-for-sr">- view the Student Workstations at Magee webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/library-resources">Library Resources <span class="show-for-sr">- view the Library Resources webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/printing">Printing <span class="show-for-sr">- view the Printing webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/printing/printing-tips">Printing Tips <span class="show-for-sr">- view the Printing Tips webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/software-downloads-and-offers">Software Downloads and Offers <span class="show-for-sr">- view the Software Downloads and Offers webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/software-downloads-and-offers/free-office-365-proplus-for-students">Free Office 365 ProPlus for students <span class="show-for-sr">- view the Free Office 365 ProPlus for students webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/student-portal">Student Portal <span class="show-for-sr">- view the Student Portal webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/wireless-services">Wireless Services <span class="show-for-sr">- view the Wireless Services webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/blackboard-learn">Blackboard Learn <span class="show-for-sr">- view the Blackboard Learn webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/passwords">Passwords <span class="show-for-sr">- view the Passwords webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/passwords/password-kiosks">Password Kiosks <span class="show-for-sr">- view the Password Kiosks webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/email">Email <span class="show-for-sr">- view the Email webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/email/office-365-email-user-guide">Office 365 Email User Guide <span class="show-for-sr">- view the Office 365 Email User Guide webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/email/office365-sso">Office 365 Single Sign On <span class="show-for-sr">- view the Office 365 Single Sign On webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/email/student-email-address-change">Student email address change (from Monday 11th Sept 2017) <span class="show-for-sr">- view the Student email address change (from Monday 11th Sept 2017) webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/registration-examinations-and-graduation">Registration, Examinations and Graduation <span class="show-for-sr">- view the Registration, Examinations and Graduation webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/banner-student-information-system">Banner - Student Information System <span class="show-for-sr">- view the Banner - Student Information System webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/banner-student-information-system/students-with-disabilities2">Students with Disabilities <span class="show-for-sr">- view the Students with Disabilities webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/onedrive">OneDrive <span class="show-for-sr">- view the OneDrive webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/students/onedrive/onedrive-faqs">OneDrive Faqs <span class="show-for-sr">- view the OneDrive Faqs webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/student-hubs">Student Hubs <span class="show-for-sr">- view the Student Hubs webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/student-it-satisfaction-survey">Student IT Satisfaction Survey <span class="show-for-sr">- view the Student IT Satisfaction Survey webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/students/video-library">Video Library <span class="show-for-sr">- view the Video Library webpages</span></a>
					</li>
				</ul>
			</li>
			<li class="is-active">
				<a href="https://www.ulster.ac.uk/isd/getting-help">Getting help <span class="show-for-sr">- view the Getting help webpages</span></a>
				<ul class="menu vertical nested">
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/getting-help/unidesk">UniDesk <span class="show-for-sr">- view the UniDesk webpages</span></a>
					</li>
					<li class="is-active">
						<a href="https://www.ulster.ac.uk/isd/getting-help/self-help">Self help <span class="show-for-sr">- view the Self help webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/self-help/ms-office">MS Office <span class="show-for-sr">- view the MS Office webpages</span></a>
							</li>
							<li class="is-active">
								<a href="https://www.ulster.ac.uk/isd/getting-help/self-help/health-and-safety">Health and Safety <span class="show-for-sr">- view the Health and Safety webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/self-help/video-library">Video Library <span class="show-for-sr">- view the Video Library webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/self-help/password-reset">Password Reset <span class="show-for-sr">- view the Password Reset webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/getting-help/information-points">Information points <span class="show-for-sr">- view the Information points webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/getting-help/service-desk">Service desk <span class="show-for-sr">- view the Service desk webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq">Frequently Asked Questions (FAQ) <span class="show-for-sr">- view the Frequently Asked Questions (FAQ) webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/online-applications-upload-issue">Online Applications Upload Issue <span class="show-for-sr">- view the Online Applications Upload Issue webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/e5-financial-information-system">e5 Financial Information System <span class="show-for-sr">- view the e5 Financial Information System webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/rad-system">RAD System <span class="show-for-sr">- view the RAD System webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/after-online-enrolment-when-do-i-get-access-to-blackboard-learn">After Online Enrolment when do I get access to Blackboard Learn <span class="show-for-sr">- view the After Online Enrolment when do I get access to Blackboard Learn webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/problem-with-eduroam-connection">Problem with eduroam connection <span class="show-for-sr">- view the Problem with eduroam connection webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/staff-how-many-recipients-am-i-allowed-per-email">Staff - How many recipients am I allowed per email <span class="show-for-sr">- view the Staff - How many recipients am I allowed per email webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/staff-what-is-the-maximum-file-size-for-an-email-attachment">Staff - What is the maximum file size for an email attachment? <span class="show-for-sr">- view the Staff - What is the maximum file size for an email attachment? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/staff-how-to-add-a-delegate-mailbox-to-outlook-2010">Staff - How to Add a Delegate Mailbox to Outlook 2010 <span class="show-for-sr">- view the Staff - How to Add a Delegate Mailbox to Outlook 2010 webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/staff-i-am-leaving-the-university,-so-can-i-retain-my-email-for-a-period-of-time">Staff - I am leaving the University, so can I retain my email for a period of time? <span class="show-for-sr">- view the Staff - I am leaving the University, so can I retain my email for a period of time? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/email-quarantine">Email Quarantine <span class="show-for-sr">- view the Email Quarantine webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/university-email-account-security-advice">University Email Account - Security Advice <span class="show-for-sr">- view the University Email Account - Security Advice webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/office-365-email-user-guide">Office 365 Email User Guide <span class="show-for-sr">- view the Office 365 Email User Guide webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/can-i-automatically-redirect-my-office-365-emails-to-a-personally-owned-email-address">Can I automatically redirect my Office 365 emails to a personally owned email address? <span class="show-for-sr">- view the Can I automatically redirect my Office 365 emails to a personally owned email address? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/keep-my-email">Keep my email <span class="show-for-sr">- view the Keep my email webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/help-in-the-use-of-audiovisual-equipment">Help in the use of audiovisual equipment <span class="show-for-sr">- view the Help in the use of audiovisual equipment webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/faculty-pc-fault">Faculty PC - Fault <span class="show-for-sr">- view the Faculty PC - Fault webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/ios-iphoneipad-user-guide">iOS (iPhone/iPad) User Guide <span class="show-for-sr">- view the iOS (iPhone/iPad) User Guide webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/printer-problems-in-student-it-laboratories">Printer problems in Student IT laboratories <span class="show-for-sr">- view the Printer problems in Student IT laboratories webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/student-where-do-i-save-my-files">Student - Where do I save my files? <span class="show-for-sr">- view the Student - Where do I save my files? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/how-do-i-map-a-network-drive-to-access-a-fileshare">How do I map a network drive to access a fileshare? <span class="show-for-sr">- view the How do I map a network drive to access a fileshare? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/after-online-enrolment-where-do-i-get-my-account-details">After Online Enrolment where do I get my account details? <span class="show-for-sr">- view the After Online Enrolment where do I get my account details? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/help-in-the-use-of-audiovisual-equipment2">Help in the use of audiovisual equipment <span class="show-for-sr">- view the Help in the use of audiovisual equipment webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/how-do-i-login-to-the-teaching-room-pc">How do I login to the teaching room PC? <span class="show-for-sr">- view the How do I login to the teaching room PC? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/audio-visual-equipment-problem">Audio Visual Equipment Problem <span class="show-for-sr">- view the Audio Visual Equipment Problem webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/how-do-i-display-data-from-pc-or-laptop">How do I display data from PC or laptop? <span class="show-for-sr">- view the How do I display data from PC or laptop? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/why-have-i-received-a-message-that-my-student-account-is-disabled">Why have I received a message that my Student Account is disabled? <span class="show-for-sr">- view the Why have I received a message that my Student Account is disabled? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/video-conference-support">Video Conference Support <span class="show-for-sr">- view the Video Conference Support webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/how-do-I-join-a-video-conference">Joining a videoconference <span class="show-for-sr">- view the Joining a videoconference webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/ive-configured-my-device-but-still-cant-connect">I've configured my device but still can't connect <span class="show-for-sr">- view the I've configured my device but still can't connect webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/staff-what-is-the-maximum-file-size-for-an-email-attachment2">Staff - What is the maximum file size for an email attachment? <span class="show-for-sr">- view the Staff - What is the maximum file size for an email attachment? webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/printer-problems-in-student-it-laboratories2">Printer problems in Student IT laboratories <span class="show-for-sr">- view the Printer problems in Student IT laboratories webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/login-error-message">Login error message <span class="show-for-sr">- view the Login error message webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/video-conference-scheduling">Video Conference scheduling <span class="show-for-sr">- view the Video Conference scheduling webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/getting-help/frequently-asked-questions-faq/student-email-migration-self-help-guides">Student Office 365 Migration - Self Help Guides <span class="show-for-sr">- view the Student Office 365 Migration - Self Help Guides webpages</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/services">Services <span class="show-for-sr">- view the Services webpages</span></a>
				<ul class="menu vertical nested">
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/business-applications">Business Applications <span class="show-for-sr">- view the Business Applications webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/business-applications/curriculum-management-system-cms">Curriculum Management System (CMS) <span class="show-for-sr">- view the Curriculum Management System (CMS) webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/business-applications/e5-financial-systems">e5 - Financial Systems <span class="show-for-sr">- view the e5 - Financial Systems webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/business-applications/hr-and-payroll">HR and Payroll <span class="show-for-sr">- view the HR and Payroll webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/business-applications/impromptu-business-intelligence-reporting-toolkit">Impromptu - Business Intelligence Reporting Toolkit <span class="show-for-sr">- view the Impromptu - Business Intelligence Reporting Toolkit webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/business-applications/core-business-services-uptime-report">Core Business Services Uptime Report <span class="show-for-sr">- view the Core Business Services Uptime Report webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/data-centre-and-servers">Data Centre and Servers <span class="show-for-sr">- view the Data Centre and Servers webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/data-centre-and-servers/data-restores-and-backups">Data Restores and Backups <span class="show-for-sr">- view the Data Restores and Backups webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/data-centre-and-servers/server-hosting">Server Hosting <span class="show-for-sr">- view the Server Hosting webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/document-management">Document Management <span class="show-for-sr">- view the Document Management webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/document-management/fileshares">Fileshares <span class="show-for-sr">- view the Fileshares webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/email-and-calendaring">Email and Calendaring <span class="show-for-sr">- view the Email and Calendaring webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/email-and-calendaring/information-services-email">Information Services Email <span class="show-for-sr">- view the Information Services Email webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/email-and-calendaring/university-email-account-security-advice">University Email Account - Security Advice <span class="show-for-sr">- view the University Email Account - Security Advice webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/email-and-calendaring/email-alias-and-delegate-mailbox">Email Alias and Delegate Mailbox <span class="show-for-sr">- view the Email Alias and Delegate Mailbox webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/email-and-calendaring/mailing-list-service">Mailing List Service <span class="show-for-sr">- view the Mailing List Service webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/email-and-calendaring/email-service-statement-and-guidelines">Email Service Statement and Guidelines <span class="show-for-sr">- view the Email Service Statement and Guidelines webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/hardware-and-software">Hardware and Software <span class="show-for-sr">- view the Hardware and Software webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/hardware-and-software/staff-desktop-image-provision-for-faculties">Staff Desktop Image Provision for Faculties <span class="show-for-sr">- view the Staff Desktop Image Provision for Faculties webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/hardware-and-software/purchasing-windows-based-it-hardware">Purchasing Windows-based IT Hardware <span class="show-for-sr">- view the Purchasing Windows-based IT Hardware webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/hardware-and-software/software-services">Software Services <span class="show-for-sr">- view the Software Services webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/hardware-and-software/wireless-laptop-support">Wireless Laptop Support <span class="show-for-sr">- view the Wireless Laptop Support webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/hardware-and-software/desktops-standards-architecture">Desktops Standards Architecture <span class="show-for-sr">- view the Desktops Standards Architecture webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/identity-and-access">Accounts and Authentication <span class="show-for-sr">- view the Accounts and Authentication webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/identity-and-access/postgraduate-access-to-file-share-service">Postgraduate Access to File Share Service <span class="show-for-sr">- view the Postgraduate Access to File Share Service webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/identity-and-access/staff-and-associate-accounts">Staff and Associate Accounts <span class="show-for-sr">- view the Staff and Associate Accounts webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/identity-and-access/student-accounts">Student Accounts <span class="show-for-sr">- view the Student Accounts webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/identity-and-access/visitor-accounts">Visitor Accounts <span class="show-for-sr">- view the Visitor Accounts webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/cyber-security">IT Security <span class="show-for-sr">- view the IT Security webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/cyber-security/encrypted-laptops-secure-laptop-service">Encrypted Laptops - Secure Laptop Service <span class="show-for-sr">- view the Encrypted Laptops - Secure Laptop Service webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/cyber-security/secure-file-transfer-protocol-sftp">Secure File Transfer Protocol (SFTP) <span class="show-for-sr">- view the Secure File Transfer Protocol (SFTP) webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/cyber-security/secure-remote-access-service-sras">Secure Remote Access Service (SRAS) <span class="show-for-sr">- view the Secure Remote Access Service (SRAS) webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/cyber-security/advice-on-ransomware">Advice on Ransomware <span class="show-for-sr">- view the Advice on Ransomware webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/reprographics">Reprographics <span class="show-for-sr">- view the Reprographics webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/reprographics/print-advice-and-guidance">Print Advice and Guidance <span class="show-for-sr">- view the Print Advice and Guidance webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/reprographics/print-procurement-advice">Print Procurement Advice <span class="show-for-sr">- view the Print Procurement Advice webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/reprographics/multifunction-devices-mfd">Multifunction Devices (MFD) <span class="show-for-sr">- view the Multifunction Devices (MFD) webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/reprographics/binding-service">Binding Service <span class="show-for-sr">- view the Binding Service webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/reprographics/smartcard-i.d.-card">Smartcard (I.D. Card) <span class="show-for-sr">- view the Smartcard (I.D. Card) webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/staff-services">Staff Services <span class="show-for-sr">- view the Staff Services webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/staff-services/supported-staff-environment-sse">Supported Staff Environment (SSE) <span class="show-for-sr">- view the Supported Staff Environment (SSE) webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/staff-services/encrypted-laptops-secure-laptop-service">Encrypted Laptops - Secure Laptop Service <span class="show-for-sr">- view the Encrypted Laptops - Secure Laptop Service webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/staff-services/user-desktop-support">User Desktop Support <span class="show-for-sr">- view the User Desktop Support webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/staff-services/apple-computer-support">Apple Computer Support <span class="show-for-sr">- view the Apple Computer Support webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/staff-services/web-browser-compatibility">Web Browser Compatibility <span class="show-for-sr">- view the Web Browser Compatibility webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/student-services">Student Services <span class="show-for-sr">- view the Student Services webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/student-services/online-enrolment-support">Examinations PC Support <span class="show-for-sr">- view the Examinations PC Support webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/student-services/student-it-facilities-incl.-teaching-rooms-and-videoconferencing-suites">Student IT Facilities (incl. Teaching Rooms and Videoconferencing Suites) <span class="show-for-sr">- view the Student IT Facilities (incl. Teaching Rooms and Videoconferencing Suites) webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/student-services/student-print">Student Print <span class="show-for-sr">- view the Student Print webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/student-services/student-email-service">Student Email Service <span class="show-for-sr">- view the Student Email Service webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/student-services/provision-of-joint-library-and-it-induction-sessions-for-new-students">Provision of Joint Library and IT Induction Sessions for New Students <span class="show-for-sr">- view the Provision of Joint Library and IT Induction Sessions for New Students webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/student-services/online-enrolment-support2">Online Enrolment Support <span class="show-for-sr">- view the Online Enrolment Support webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/telecommunications">Telecommunications <span class="show-for-sr">- view the Telecommunications webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/training">Training <span class="show-for-sr">- view the Training webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/training/training-services">Training Services <span class="show-for-sr">- view the Training Services webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/training/self-help-training-resources">Self Help Training Resources <span class="show-for-sr">- view the Self Help Training Resources webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/web-services">Web Services <span class="show-for-sr">- view the Web Services webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/web-services/portal">Portal <span class="show-for-sr">- view the Portal webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/web-services/central-authentication-service-cas">Central Authentication Service (CAS) <span class="show-for-sr">- view the Central Authentication Service (CAS) webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/wireless-services">Wireless Service (Eduroam) <span class="show-for-sr">- view the Wireless Service (Eduroam) webpages</span></a>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/networking">Networking <span class="show-for-sr">- view the Networking webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/networking/enable-network-point">Enable Network Point <span class="show-for-sr">- view the Enable Network Point webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/networking/firewall">Firewall <span class="show-for-sr">- view the Firewall webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/networking/fixed-ip-address">Fixed IP Address <span class="show-for-sr">- view the Fixed IP Address webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/networking/network-at-risk">Network At Risk <span class="show-for-sr">- view the Network At Risk webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/networking/network-time-services">Network Time Services <span class="show-for-sr">- view the Network Time Services webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/networking/request-new-network-point">Request New Network Point <span class="show-for-sr">- view the Request New Network Point webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/networking/secure-remote-access-service-sras">Secure Remote Access Service (SRAS) <span class="show-for-sr">- view the Secure Remote Access Service (SRAS) webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/services/media-services">Media Services <span class="show-for-sr">- view the Media Services webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/media-services/audio-recording-of-key-events">Audio Recording of Key Events <span class="show-for-sr">- view the Audio Recording of Key Events webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/media-services/avmedia-service">AV/Media Service <span class="show-for-sr">- view the AV/Media Service webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/media-services/event-support">Event Support <span class="show-for-sr">- view the Event Support webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/media-services/graphic-design">Graphic Design <span class="show-for-sr">- view the Graphic Design webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/media-services/turningpoint-audience-response-system">TurningPoint Audience Response System <span class="show-for-sr">- view the TurningPoint Audience Response System webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/media-services/lecture-capture-and-streaming">Lecture Capture and Streaming <span class="show-for-sr">- view the Lecture Capture and Streaming webpages</span></a>
							</li>
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/services/media-services/videoconferencing-service">Videoconferencing Service <span class="show-for-sr">- view the Videoconferencing Service webpages</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/it-policies">IT policies <span class="show-for-sr">- view the IT policies webpages</span></a>
				<ul class="menu vertical nested">
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/it-policies/university-it-policies">University IT Policies <span class="show-for-sr">- view the University IT Policies webpages</span></a>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/about">About <span class="show-for-sr">- view the About webpages</span></a>
				<ul class="menu vertical nested">
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/about/contact-us">Contact Us <span class="show-for-sr">- view the Contact Us webpages</span></a>
						<ul class="menu vertical nested">
							<li class="">
								<a href="https://www.ulster.ac.uk/isd/about/contact-us/faculty-contacts">Faculty Contacts <span class="show-for-sr">- view the Faculty Contacts webpages</span></a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="https://www.ulster.ac.uk/isd/about/opening-times-and-holidays">ISD Opening Times and Holidays <span class="show-for-sr">- view the ISD Opening Times and Holidays webpages</span></a>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/a-to-z">A to Z <span class="show-for-sr">- view the A to Z webpages</span></a>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/search">Search <span class="show-for-sr">- view the Search webpages</span></a>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/staffsurvey">Staff Survey <span class="show-for-sr">- view the Staff Survey webpages</span></a>
			</li>
			<li class="">
				<a href="https://www.ulster.ac.uk/isd/studentsurvey">Student Survey <span class="show-for-sr">- view the Student Survey webpages</span></a>
			</li>
		</ul>
	</div>
</div>
