ul.accordion
{
  margin-top: 20px;

  > li
  {
    padding-left: 0;

    &::before
    {
      display: none;
    }
  }

  li.accordion-item
  {
    padding-left: 0 !important;
  }

  a.accordion-title
  {

    &::before
    {
      font-size: 2rem;
      margin-top: -1rem;
    }

    span
    {
      font-size: 1.2rem;
      padding-right: 40px;
      display: block;
      margin-bottom: 0 !important;

      &.small
      {
        font-size: .9rem;
      }

      &.accordion-number
      {
        position: absolute;
        left: 0;
        top:0;
        text-align: center !important;
        display: block;
        height: 100%;
        padding:0 30px;

        span
        {
          display: block;
          vertical-align: middle;
          padding: 0;
          height: 100% !important;
          overflow: auto;
          font-size: 1.4rem;
          line-height: 1.4rem;
          font-weight:600;
          margin-top: 35px;

          @include breakpoint(small down) {
            margin-top:25px;
          }
        }
      }
    }
  }
}
