.button
{
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5000px !important
}

form
{
  .button
  {
    border-radius: 0 !important;
  }
}

.mega-menu
{
  .button
  {
    border-radius: 0 !important;
    text-transform: none;
    font-weight:500;
  }
}

.bg-bright-blue,
.bg-sky-blue
{
    a.button:not(.success):not(.secondary):not(.alert)
    {
      background-color: $core-blue !important;

      &:hover
      {
        background-color: lighten($core-blue, 10%) !important;
      }
    }
}
