/*
 * Ulster.Colours
 * useful guidance: https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
 */

//## Global vars
$opacity: .9;


/*
 * Colours
 * 1. Purple
 * 2. Navy
*/

//############ 1. Purple - START
  $c-purple: #3F0F52;
  $c-purple-trans: rgba($c-purple, $opacity);
  $c-purple-accent: darken(#6ABCAB, 15%);
  $c-purple-trans-accent: rgba($c-purple-accent, $opacity);
  $c-purple-trans-shade: rgba($c-purple, $opacity);
  .bg-purple
  {
    background: $c-purple;
  }
  .bg-purple-trans
  {
    background: $c-purple-trans;
  }
  .bg-purple-trans-accent
  {
    background: $c-purple-trans-accent;
  }
  .angled-purple-top
  {
    margin-top: 60px;
    @include angled-edge('outside top', 'upper left', $c-purple);
    padding-bottom: 100px;
  }
  .separator-left.purple,
  .title.purple .separator-left
  {
    &::after
    {
      border-bottom-color: $c-purple-accent;
    }

    .fa
    {
      &::before
      {
        color: $c-purple;
      }
    }
  }
//############ 1. Purple - END

//############ 2. Navy - START
  $c-navy: #151E3E;
  $c-navy-trans: rgba($c-navy, $opacity);
  $c-navy-accent: darken(#D81B7A, 15%);
  $c-navy-accent-light: lighten(#D81B7A, 35%);
  $c-navy-trans-accent: rgba($c-navy-accent, $opacity);
  $c-navy-trans-shade: rgba($c-navy, $opacity);
  .bg-navy
  {
    background: $c-navy;
  }
  .bg-navy-trans
  {
    background: $c-navy-trans;
  }
  .bg-navy-trans-accent
  {
    background: $c-navy-trans-accent;
  }
  .bg-navy-accent
  {
    background: $c-navy-accent;
  }
  body .colour-navy-accent *
  {
    color: $c-navy-accent-light;
  }
  .angled-navy-top
  {
    margin-top: 60px;
    @include angled-edge('outside top', 'upper left', $c-navy);
    padding-bottom: 100px;
  }
  .separator-left.navy,
  .title.navy .separator-left
  {
    &::after
    {
      border-bottom-color: $c-navy-accent;
    }

    .fa
    {
      &::before
      {
        color: $c-navy;
      }
    }
  }
//############ 2. Navy - END







//########################### Refactor

$c-pink: #D81B7A;
$c-pink-trans: rgba($c-pink, $opacity);

.pink-title-seperator
{
  &::after
  {
    border-bottom-color: $c-pink;
  }
}

.white-title-seperator
{
  &::after
  {
    border-bottom-color: #fff;
  }
}
$c-teal: #6ABCAB;
.teal-title-seperator
{
  &::after
  {
    border-bottom-color: $c-teal;
  }
}

.white-bg
{
  background: #fff;
}

$c-green: #68A021;


$c-dark-grey: #1B1C1E;
$c-off-white: #f5f4f3;




//backgrounds

.bg-pink-trans
{
  background: $c-pink-trans;
}

.bg-light-grey
{
  background: #F3F2F3;
}

.bg-navy
{
  background: $c-navy;
}

//background with white text
.white-text
{
  *
  {
    color: #fff;
  }

  .separator-left
  {
    &::after
    {
      border-bottom-color: rgba(255,255,255,.5);
    }
  }

  a:focus
  {
    color: #fff;
  }

  a:hover
  {
    color: #fff;
    text-decoration: underline;
  }
}

.green-bg
{
  background-color: $c-green;
}

.purple-bg
{
  background-color: $c-purple;
}

.navy-bg
{
  background: $c-navy;
}

.dark-grey-bg
{
  background: $c-dark-grey;
}

.dark-grey-bg-trans
{
  background: rgba(0,0,0,.8);
}


.off-white-bg
{
  background-color: $c-off-white;
}

.icon
{
  opacity:.2;
  width: 100px;

  svg path
  {
    fill: #000;
  }
}

.menu
{
  a.is-active
  {
    background: $corp-gold;
  }
}
