/*
 * Ulster.Colours
 * useful guidance: https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
 */

//## Global vars
$opacity: .9;



/*
 * Colours
 * 1. Purple
 * 2. Navy
*/

//############ 1. Purple - START
  $c-purple: #3F0F52;
  $c-purple-trans: rgba($c-purple, $opacity);
  $c-purple-accent: darken(#6ABCAB, 15%);
  $c-purple-trans-accent: rgba($c-purple-accent, $opacity);
  $c-purple-trans-shade: rgba($c-purple, $opacity);
  .bg-purple
  {
    background: $c-purple;
  }

  .bg-purple-trans
  {
    background: $c-purple-trans;
  }

  .bg-purple-trans-gradient-one
  {
    @include linear-gradient(rgba($c-purple, .8), rgba($c-purple, .1));
  }

  .bg-purple-trans-gradient-two
  {
    @include linear-gradient(rgba($c-purple, .95), rgba($c-purple, .7));
  }

  .home-bg-purple-trans
  {
    background: rgba($c-purple, .8);
  }
  .bg-purple-accent
  {
    background: $c-purple-accent;
  }
  .bg-purple-trans-accent
  {
    background: $c-purple-trans-accent;
  }
  .angled-purple-top
  {
    margin-top: 60px;
    @include angled-edge('outside top', 'upper left', $c-purple);
    padding-bottom: 100px;
  }
  .separator-left.purple,
  .title.purple .separator-left
  {
    &::after
    {
      border-bottom-color: $c-purple-accent;
    }

    .fa
    {
      &::before
      {
        color: $c-purple;
      }
    }
  }
//############ 1. Purple - END

//############ 2. Navy - START
//old: #151E3E
//new: #001335
  $c-navy: #001335;
  $c-navy-trans: rgba($c-navy, $opacity);
  $c-navy-trans-lighter: rgba($c-navy, .6);
  $c-navy-accent: darken(#D81B7A, 15%);
  $c-navy-accent-light: lighten(#D81B7A, 35%);
  $c-navy-trans-accent: rgba($c-navy-accent, $opacity);
  $c-navy-trans-shade: rgba($c-navy, $opacity);
  .cl-navy
  {
    color:$c-navy;
  }
  .bg-navy
  {
    background: $c-navy;
  }
  .bg-navy-trans
  {
    background: $c-navy-trans;
  }
  .bg-navy-on-small
  {
    @include breakpoint(small only) {
      background: $c-navy !important;
    }
  }
  .bg-navy-trans-lighter
  {
    background: $c-navy-trans-lighter;
  }
  .bg-navy-trans-gradient-one
  {
    @include linear-gradient(rgba($c-navy, .8), rgba($c-navy, .1));
  }
  .bg-navy-trans-gradient-two
  {
    @include linear-gradient(darken($c-navy, 10%), $c-navy);
  }
  .bg-black-trans-gradient
  {
    @include linear-gradient(rgba(#000, .6), rgba(#000, .1));
  }
  .bg-gold-trans-gradient-one
  {
    @include linear-gradient(rgba(#000, .6), rgba($corp-gold, .1));
  }
  .bg-navy-trans-accent
  {
    background: $c-navy-trans-accent;
  }
  .bg-navy-accent
  {
    background: $c-navy-accent;
  }
  body .colour-navy-accent *
  {
    color: $c-navy-accent-light;
  }
  .angled-navy-top
  {
    margin-top: 60px;
    @include angled-edge('outside top', 'upper left', $c-navy);
    padding-bottom: 100px;
  }
  .separator-left.navy,
  .title.navy .separator-left
  {
    &::after
    {
      border-bottom-color: $c-navy-accent;
    }

    .fa
    {
      &::before
      {
        color: $c-navy;
      }
    }
  }
//############ 2. Navy - END

.red-text
{
  color:#b10e1e !important;
}

.bg-red
{
  background-color: #b01800 !important;
}

//new brand page 43

$core-blue: #041e42;
$deep-blue: #151f6d;
//$bright-blue: #009fdf;
//$bright-blue:#187ab8;
$bright-blue:#005c97;
$sky-blue-light: #00b5e2;
$sky-blue:#005c97;
$fresh-teal: #00968C;
$pink:#B30047;

.bg-faded-grey
{
  background-color: #eee !important;
}

.bg-fresh-teal
{
  background-color: $fresh-teal !important;
}

.bg-core-blue
{
  background-color: $core-blue !important;
}

.bg-core-blue-sm
{
  @include breakpoint(small down) {
    background-color: $core-blue !important;
  }
}

.bg-pink
{
  background-color: $pink !important;
}

.bg-deep-blue
{
  background-color: $deep-blue !important;
}

.bg-deep-blue-opacity
{
  background-color: rgba($deep-blue, .9);
}

.bg-bright-blue
{
  background-color: $bright-blue !important;
}

.bg-sky-blue
{
  background-color: $sky-blue !important;
}

.bg-sky-blue-light
{
  background-color: $sky-blue-light !important;
}

.list-icon-core-blue
{
  li
  {
    &::before
    {
      color: $core-blue !important;
    }
  }
}

.list-icon-bright-blue
{
  li
  {
    &::before
    {
      color: $bright-blue !important;
    }
  }
}

.list-icon-white
{
  li
  {
    &::before
    {
      color: #fff !important;
    }
  }
}

.text-core-blue
{
  color: $core-blue !important;
}

.text-deep-blue
{
  color: $deep-blue !important;
}

.text-bright-blue
{
  color: $bright-blue !important;
}

.text-sky-blue
{
  color: $sky-blue !important;
}

.text-sky-blue-light
{
  color: $sky-blue-light !important;
}

.bg-core-blue
{
  .text-sky-blue
  {
    color: $sky-blue-light !important;
  }
}

.text-fresh-teal
{
  color: $fresh-teal !important;
}

.text-pink
{
  color: $pink !important;
}

.text-white
{
  color: #fff !important;
}

.text-bright-orange
{
  color: #f39521 !important;
}

.no-bg
{
  background-color: transparent !important;
}

$c-grey-trans: rgba(#111, .85);
.bg-grey-trans
{
  background: $c-grey-trans !important;
}

$c-grey-trans-light: rgba(#111, .45);
.bg-grey-trans-light
{
  background: $c-grey-trans-light;
}

$c-corp-gold-trans: rgba($corp-gold, .85);
.bg-corp-gold-trans
{
  background: $c-corp-gold-trans;
}

.bg-corp-gold
{
  background: $corp-gold;
}



//########################### Refactor

$c-pink: #D81B7A;
$c-pink-trans: rgba($c-pink, $opacity);

.pink-title-seperator
{
  &::after
  {
    border-bottom-color: $c-pink;
  }
}

.white-title-seperator
{
  &::after
  {
    border-bottom-color: #fff;
  }
}
$c-teal: #6ABCAB;
.teal-title-seperator
{
  &::after
  {
    border-bottom-color: $c-teal;
  }
}

.white-bg
{
  background: #fff;
}

.white-bg-trans
{
  background: rgba(255,255,255,.8);
}

$c-green: #386400;
$c-dark-grey: #1B1C1E;
$c-off-white: #fffefd;


//backgrounds

.bg-pink-trans
{
  background: $c-pink-trans;
}

.bg-light-grey-2
{
  background: #f2efec;
}

.bg-light-grey
{
  background: #fff;
}

.bg-navy
{
  background: $c-navy;
}

.text-dark-grey
{
  color: #555 !important;
}

.text-black
{
  color: #000 !important;
}

a.text-black
{
  &:hover
  {
    text-decoration: underline !important;
  }
}

//background with white text

.separator-left.white
{
  &::after
  {
    border-bottom-color: rgba(255,255,255,.5);
  }
}

.white-text
{
  *
  {
    color: #fff !important;
  }

  .separator-left
  {
    &::after
    {
      border-bottom-color: rgba(255,255,255,.5);
    }
  }

  a:focus
  {
    color: #fff;
  }

  a:hover
  {
    color: #fff;
    text-decoration: underline;
  }

  input[type=text],
  input[type=date],
  input[type=tel],
  textarea,
  {
    color: #000;
  }
}

.green-bg
{
  background-color: $c-green;
}

.purple-bg
{
  background-color: $c-purple;
}

.navy-bg
{
  background: $c-navy;
}

.dark-grey-bg
{
  background: $c-dark-grey;
}
.angled-dark-grey-top
{
  margin-top: 60px;
  @include angled-edge('outside top', 'upper left', $c-dark-grey);
  padding-bottom: 100px;
}

.dark-grey-bg-trans
{
  background: rgba(0,0,0,.8);
}

.lighter-grey-bg-trans
{
  background: rgba(0,0,0,.5);
}

.off-white-bg
{
  background-color: $c-off-white;
}

.icon
{
  opacity:.2;
  width: 100px;

  svg path
  {
    fill: #000;
  }
}

.menu
{
  a.is-active
  {
    background: $corp-gold;
  }
}

.bg-teal-gradient
{
  @include linear-gradient($c-teal, darken($c-teal, 20%));
}

.desaturate
{
  @include desaturate;
}

.hue
{
  @include hue;
}

.sepia
{
  @include sepia;
}

.brightness
{
  @include brightness;
}

.white-gradient-one
{
  @include linear-gradient(#fff, #eee);
}

.bg-small-only-navy
{
  background: none;

  @include breakpoint(small only)
  {
    background-color: $c-navy-trans;
  }
}


.white-bg-small
{
  @include breakpoint(small down)
  {
    background-color: #fff !important;
  }
}

.callout.secondary
{
  background: #eee;
}
