//video overides
div.video-promo
{
  height: 100%;
}

div.video-promo .content
{
  padding: 0;
  text-align: center;
}

div.video-promo .content a.cta
{
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(50% - 23px);
  background: none;

  &:hover
  {
    background: rgba(0,0,0,.2);
  }
}

//brand
a.brand
{
  margin-bottom: 20px;
  display: block;
}

//backgrounds
.bg-light-grey
{
  background: #F3F2F3;
}

//breadcrumb
.breadcrumbs
{
  margin: 0 !important;
}
