/*
 * Type: Custom
 * Partial: All
 * Scope: n/a
 * Description: this is custom styling for the site for various fixes to ulster-frontend-alpha dependencies
 * Created by: Gavin Boyd
 * Date: 26/2/18
 *
 * Contents:
 * 1. video-promo
 * 2. brand
 * 3. backgrounds (removed, see _colours.scss)
 * 4. breadcrumb
 * 5. navigation
 * 6. cards
 * 7. icons and seperator
 * 8. global search box
 * 9. megamenu
 * 10. tabs
 * 11. footer
 * 12. search box button in header
 * 13. utility (alpha)
 * 14. main-content spacing fix for ulster-alpha
 * 15. angle right list style Type
 * 16. card image height
 * 17. card image hover animation
 * 18. angled edges effects
 * 19. background images
*/

//brand
a.brand
{
  margin: 30px 0;
  display: block;
}

//breadcrumb
.breadcrumbs
{
  margin: 20px 0 0 0 !important;
}

//cards
.card
{
  img
  {
    width: 100%;
  }
}

//global search box
#searchform
{
  margin-top: 20px;
}

//megamenu
.dropdown-pane.full
{
  width: 100% !important;
  left: 0 !important;
}

//tabs
.tabs
{
  a
  {
    font-size: 18px;

    @include breakpoint(small down)
    {
      font-size: 14px;
    }
  }
}

//footer
.footer
{
  border-top: 10px solid lighten(#ccc, 10%);
}

//legacy footer remove padding top and border top
footer
{
  padding-top: 0;
  border-top: 0;
  background: #fff;

  a
  {
    font-family: "FS Matthew Web Regular";
  }
}

//search box button in header
button
{
  i
  {
    color: #fff !important;
  }
}

//utility (alpha)
.utility
{
  padding: 10px 0;
  margin-bottom: 0;
  @include clearfix;

  li
  {
    list-style: none;
    float: right;
    margin-left: 10px;

    a
    {
      color: #000;
      font-family: "FS Matthew Web Regular";
    }
  }
}
//main-content spacing fix for ulster-alpha
body .main-content
{
  margin-top: 0;
  top: 0 !important;
}
.resp-pull-left
{
  position: relative;
}

//angle right list style Type
ul.angle-right,
.wysiwyg ul
{
  margin-left: 0;

  li
  {
    position: relative;
    padding-left: 15px;

    &::before
    {
      font-family: FontAwesome;
      content: "\f105";
      position: absolute;
      left: 0;
      top:0;
    }
  }
}

ul.columns
{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

ul.columns-2
{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

//angled edges effects
.angle-pad
{
  margin-bottom: 60px;
}

.angled-title-purple
{
  margin-top: 60px;
  @include angled-edge('outside top', 'upper left', $c-purple-trans-shade);
  padding-bottom: 100px;
}

.angled-navy-top-trans
{
  margin-top: 60px;
  @include angled-edge('outside top', 'upper left', $c-navy-trans);
  padding-bottom: 100px;
}

.angled-navy-left-trans
{
  margin-top: 60px;
  @include angled-edge('outside top', 'upper left', $c-navy);
  padding-bottom: 100px;
}

.angled-white-section
{
  position: relative;
  z-index: 4;
  @include angled-edge('outside top', 'upper left', #fff);
}

.angled-purple-section
{
  @include angled-edge('outside top', 'upper left', $c-purple);
}

.angled-purple-bottom-trans
{
  @include angled-edge('outside bottom', 'lower right', $c-purple-trans);
  padding-bottom: 150px;
  margin-bottom: 100px;
}

.angled-off-white-section
{
  @include angled-edge('outside top', 'upper left', $c-off-white);
}

//background images
.cover-background-fixed
{
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -40px;
}

.cover-background
{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include breakpoint(medium down)
  {
    min-height: 400px;
    margin-bottom: 30px;
  }

  @include breakpoint(small down)
  {
    min-height: 200px;
    margin-bottom: 30px;
  }
}

.hide-bg-on-medium
{
  @include breakpoint(medium down)
  {
    background-image: none !important;
  }
}

.hide-bg-on-small
{
  @include breakpoint(small down)
  {
    background-image: none !important;
  }
}

.center-background
{
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 1120px;
}

.circle
{
  border-radius: 50%;
  margin-bottom: 20px;
}

//padding
.pad-60
{
  padding: 60px;

  @include breakpoint(large down)
  {
    padding: 15px;
  }
}

.pad-60-sides
{
  padding: 0 60px;
}

.no-top
{
  padding-top: 0;
}

.no-margin-bottom
{
  margin-bottom: 0;
}

.no-padding-bottom
{
  margin-bottom: 0;
}

//desaturate background image
.desaturate {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*grayscale for background image*/
    background-color: #FFF;
    background-blend-mode: luminosity, normal;
}

//pad 5px
.pad-right-5
{
  padding-right: 5px;
  height: 100%;
}

.pad-left-5
{
  padding-left: 5px;
  height: 100%;
}

/*
 * menu for guide page contents
 */
.page-contents.menu
{
  a
  {
    color: #272828;
    position: relative;
    padding: 10px 10px 10px 25px;
    border-left: 5px solid #eee;
    font-size: 14px;
    line-height: 18px;
    @include transition-all;

    &:hover
    {
      border-left-color:darken(#eee, 5%);
    }
  }

  a.is-active
  {
    border-left-color:$purple;
    background: transparent;
    color: $purple;

    &::before
    {
      font-family: FontAwesome;
      content: "\f105";
      margin-right: 5px;
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}

/*
 * custom pulse animation
 */
@mixin pulse($background, $icon-color, $r, $g, $b, $transparency, $animation)
{
  display: inline-table;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: inherit;
  border-radius: 50%;
  background: $background;
  cursor: pointer;
  box-shadow: 0 0 0 rgba($r, $g, $b, $transparency);
  animation: $animation;
  @include transition-background();

  &:hover
  {
    background: darken($background, 10%);
  }

  .fa
  {
    color: $icon-color;
    display: table-cell;
    vertical-align: middle;
  }

  @-webkit-keyframes pulse {
     0% {
       -webkit-box-shadow: 0 0 0 0 rgba($r,$g,$b, $transparency);
     }
     70% {
         -webkit-box-shadow: 0 0 0 10px rgba($r,$g,$b, 0);
     }
     100% {
         -webkit-box-shadow: 0 0 0 0 rgba($r,$g,$b, 0);
     }
  }

  @keyframes pulse {
    0% {
     -moz-box-shadow: 0 0 0 0 rgba($r,$g,$b, $transparency);
     box-shadow: 0 0 0 0 rgba($r,$g,$b, 0.4);
    }
    70% {
       -moz-box-shadow: 0 0 0 10px rgba($r,$g,$b, 0);
       box-shadow: 0 0 0 10px rgba($r,$g,$b, 0);
    }
    100% {
       -moz-box-shadow: 0 0 0 0 rgba($r,$g,$b, 0);
       box-shadow: 0 0 0 0 rgba($r,$g,$b, 0);
    }
  }

  &:hover
  {
    animation: none;
  }
}

//#cca92c, 204,169,44

.pulse-align-container
{
  @include pulse(darken($corp-gold,5%),#fff,0,0,0,0,none);
}

.no-pulse-teal
{
  @include pulse(darken($c-teal,5%),#fff,0,0,0,0,none);
}

.no-pulse-navy
{
  @include pulse(lighten($corp-navy,10%),#fff,0,0,0,0,none);
}

.pulse
{
  @include pulse(#cca92c,#fff,204,169,44,.4,pulse 2s infinite);
}

.pulse-gold
{
  @include pulse(#cca92c,#fff,204,169,44,.4,pulse 2s infinite);
}

.pulse-white
{
  @include pulse(#fff,$corp-gold,255,255,255,.4,pulse 2s infinite);
}

/*
 * top bar background color
 */
.top-bar
{
  background: none repeat scroll 0 0 transparent;

  ul
  {
    background: none repeat scroll 0 0 transparent;
  }
}

/*
 * no sticky magellan menus on medium size screens
 */
.sticky.is-stuck
{
  @include breakpoint(medium down)
  {
    position: relative !important;
  }
}

/*
 * courses atoz
 */
.back-to-top,
.toggler,
#open
{
  display: none;
}
.is-stuck
{
  .back-to-top
  {
    display: block;
  }

  .toggler
  {
    display: block;
  }
}
.page_letters
{
  margin-bottom: 20px;
  @include clearfix;

  > p
  {
    margin-bottom: 5px;
  }

  > div
  {
    width: 3.6%;
    min-width: 25px;
    margin: 1px;
    float:left;

    > a,
    > span
    {
      background: #fff;
      display: block;
      padding: 10px;
    }

    > span
    {
      background: transparent;
    }

    a
    {
      &.active
      {
        background: $corp-gold;
        color:#fff;
      }
    }
  }

  .back-to-top
  {
    display: none;
  }

  &.is-stuck
  {
    padding: 10px 5px;
    background: rgba(255,255,255,.95);
    border-top: 5px solid #000;

    .back-to-top
    {
      display: block;
    }
  }

  span
  {
    display: block;
    color: lighten(#555, 20%);
  }

  a,
  span
  {
    width: 40px;
    height: 40px;
    padding: 0;
    padding-top: 10px;
    text-align: center;

    @include breakpoint(large) {
      width: 39px;
    }
  }

  span
  {
    width: 22px;
    padding-top: 8px;
  }

  a
  {
    background: #eee;
    display: block;
    outline: 1px solid #555;
    @include transition-all;

    &:hover
    {
      background: darken(#eee,5%);
    }

    &.active
    {
      background: $corp-gold;
      color: #fff;
    }

    @include breakpoint(small) {
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }
}

/*
 * fixed pos for small - mainly for cta's
 */
.action-sheet
{
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;

  a.button
  {
    margin-bottom: 0;
    height: 100%;

    > .fa
    {
      width: 30px;
      height:30px;
    }
  }
}

/*
 * hide native click4assistance button
 */
#divC4AWButton
{
  display: none !important;
}

/*
 * remove underlines from all button hover states
 */
a.button
{
  &:hover
  {
    text-decoration: none;
  }
}

/*
 * if guide has persistent actions add top margin of 100px
 */
.include-actions
{
  &.is-stuck
  {
    margin-top: 100px !important;
  }
}

/*
 * jquery-background-video
 */
.jquery-background-video-wrapper
{
 	position: relative;
 	overflow: hidden;
 	background-position: center center;
 	background-repeat: no-repeat;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.jquery-background-video
{
	position: absolute;
  z-index: 1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	object-fit: contain;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
 }
 /**
  * Fade in videos
  * Note the .js class - so non js users still
  * see the video
  */
 .js .video-bg video {
 	opacity: 0;
 }
 .js .video-bg video.is-playing {
 	opacity: 1;
 }

 .with-video-bg
 {
   position: relative;
   z-index: 3;
 }
.text-shadow
{
  text-shadow: rgba(0,0,0,.3) 2px 3px 5px;
}
.larger
{
  font-size: 62px;
  line-height: 68px;
}

.shade
{
  background: rgba(0,0,0,.3);
}
