//https://foundation.zurb.com/building-blocks/blocks/featured-testimonials.html
.testimonial
{
  display: flex;
  align-items: center;
}

.profile-pic
{
  max-width: 100px;
  border-radius: 50%;
}

.featured-testimonials-quotation
{
  margin-left: 3rem;
  margin-bottom: 0rem;
  padding: 1rem;
  position: relative;

  &::before
  {
    content: "“";
    font-size: 5rem;
    color: lighten($black, 80%);
    position: absolute;
    top: -30px;
    left: -30px;

    @include breakpoint(small)
    {
      position: relative;
      top: auto;
      left:auto;
    }
  }

  &::after
  {
    content: "”";
    font-size: 5rem;
    color: lighten($black, 80%);
    position: absolute;
    bottom: -30px;
    right: 0;

    @include breakpoint(small)
    {
      display:none;
    }
  }

  @include breakpoint(small only)
  {
    margin-left: 0;
  }
}
