input#query
{
  &:focus
  {
    outline: 3px solid $sky-blue;
  }
}
label,
legend
{
  font-weight: 400;
}
input#query
{
  font-weight: 600;
}
input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder
{
  color: #000 !important;
  opacity: 1;
}
