$image-promo-uls-opacity: .5;
$colour-one: rgba(#C21047, $image-promo-uls-opacity);
$colour-two: rgba(#192546, $image-promo-uls-opacity);
$colour-three: rgba(#40264A, $image-promo-uls-opacity);
$colour-four: rgba(#2B481A, $image-promo-uls-opacity);
$colour-five: rgba(#4CA5C2, $image-promo-uls-opacity);

.bg-generic-pink-opacity
{
  background: $colour-one;
}

.bg-generic-navy-opacity
{
  background: $colour-two;
}

.bg-generic-dark-purple-opacity
{
  background: $colour-three;
}

.bg-generic-dark-green-opacity
{
  background: $colour-four;
}

.bg-generic-light-blue-opacity
{
  background: $colour-five;
}

//used on global homepage
.image-promos-uls
{
  position: relative;
  width: 100%;
  height: 60px;

  @include breakpoint(small only)
  {
    position: relative;
    height: auto;
    margin-top: 15px;
  }

  > div
  {
    position: relative;
    z-index: 9000;

    .shadow
    {
      @include transition-all();

    }
  }

  .pull-up
  {
    position: relative;
    top: -160px;
    display: block;
    padding-top:20px;
  }

  .column
  {
    padding: 0;

    @include breakpoint(medium down)
    {
      width: 50%;
    }
  }

  .button
  {
    background: #fff;
    color: $corp-navy;
  }
}
//fixes for global
.primary-links
{
  .cover-background
  {
    overflow: hidden;
    margin:5px;
    min-height:none;
  }

  &.is-stuck
  {
    .pull-up
    {
      top: auto;
      padding-top: 0;
    }

    .white-bg
    {
      background: none;
    }

    a.button
    {
      display:none;
    }

    h2
    {
      margin-bottom: 0;

      a
      {
        font-size: 16px;
        line-height: 16px;
        padding: 10px;
        display: block;
        width: 100%;
        height: 52px;
      }
    }

    .white-text
    {
      height:auto !important;

      br
      {
        display: none;
      }
    }

    .cover-background
    {
      background-image:none !important;
      background: #565b90;
    }
  }
}
