#nav
{
  > div
  {
    background: #005ea5;
  }

  .dark-grey-bg
  {
    background: #005ea5;
  }

  ul.menu
  {
    display:table;
    width: 100%;

    li
    {
      display: table-cell;
      text-align: center;
      border-right: 1px solid lighten(#005ea5, 10%);

      &:last-child
      {
        border-right:none !important;
      }

      a
      {
        font-size: 16px;
        @include boldfont;
        @include transition-background;

        &.is-active
        {
          background: #fff!important;
          color: #005ea5 !important;

          .fa
          {
            color: #005ea5 !important;
          }
        }

        &:hover
        {
          background: darken(#005ea5,10%);
          text-decoration: none;
        }
      }

      &:last-child
      {
        border-right: 1px solid lighten($c-navy, 5%);
      }
    }
  }
}
