/*
 * Type: Custom
 * Partial: header.html
 * Scope: global-nav
 * Description: this is custom styling for the mega menu, to make it look like ulster-alpha
 * Created by: Gavin Boyd
 * Date: 26/2/18
*/
.global-nav
{
  @include linear-gradient($top: #f4f4f4, $bottom: #ddd);
  @include box-shadow(
    $x : 2px,
    $y : 2px,
    $blur : 5px,
    $spread : 0,
    $color : rgba(0,0,0,0.2)
  );
  width: 100%;
  @include border-radius(5px);

  &.new
  {
    background: transparent;
    @include box-shadow(
      $x : 2px,
      $y : 2px,
      $blur : 5px,
      $spread : 0,
      $color : rgba(0,0,0,0)
    );

    > li
    {
      border:none !important;

      > a
      {
        color: #fff;
        font-size: 16px;
      }
    }
  }

  > li
  {
    border-right: 1px solid #f2f2ec;
    display: inline-block

    &:last-child
    {
      border-right:none;
    }

    &.menu-item
    {
      width: 16.66%;
      width: calc(68% / 4);

      &.small
      {
        width: 10%;
      }

      &.large
      {
        width: 22%;
      }
    }

    > a
    {
      text-align: center;
      padding: 15px 0;
      display: block;
      color: $corp-navy;
      font-size: 18px;
      font-family: "FS Matthew Web Regular";

      &:hover
      {
        background: #eee;
        @include transition-background();
      }

      &.hover
      {
        background: #fff;
      }
    }

    .dropdown-pane
    {
      background: #fff;
      border: 1px;
      z-index: 9999;
      @include box-shadow(
        $x : 2px,
        $y : 2px,
        $blur : 1px,
        $spread : 0,
        $color : rgba(0,0,0,.6)
      );

      ul
      {
        li
        {
          list-style: none;
          font-family: "FS Matthew Web Regular";

          a
          {
            font-family: "FS Matthew Web Regular";
          }
        }
      }
    }
  }
}
