/*
Inspiration for this menu: https://dribbble.com/shots/2962837-Header-Nav by Scout: https://dribbble.com/scout
*/

/*
Making sure everything in .hero sits above our :after elements
*/

.hero {
    z-index: 9999;
}

.hero * {
    position: relative;
    z-index: 1;
}

#masthead {
    position: relative;
    background: #fff;
}

#masthead.is-active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
}

/*
Using this method because browsers can transition opacity very cheaply as opposed to using background: rgba
https://www.html5rocks.com/en/tutorials/speed/high-performance-animations/
*/

#masthead:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    opacity: 0;
    transition: opacity .3s ease;
}

#masthead.is-active:after {
    opacity: 1;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
    background-color: $core-blue;
    width: 60px;
    height: 60px;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    float: none;
    font: inherit;
    margin: 0;
    overflow: visible;
    outline: none;
    padding: 0;
    text-transform: none;
    transition: opacity .15s;
    -webkit-appearance: none;
}

#masthead.is-active .hamburger {
    background-color: #da6d0d;
}

.hamburger:hover {
    opacity: .7;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: .15s;
    transition-timing-function: ease;
}

#masthead.is-active .hamburger-inner,
#masthead.is-active .hamburger-inner::before,
#masthead.is-active .hamburger-inner::after {
    background-color: #fff;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -6px;
}

.hamburger-inner::after {
    bottom: -6px;
}

/*
 * Boring
 */

.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
    transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.hamburger-label {
    color: #000;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .08em;
    line-height: 1;
    margin-left: .3125em;
    text-transform: uppercase;
}

#masthead.is-active .hamburger-label {
    color: #000;
}

.hamburger-box, .hamburger-label {
    display: inline-block;
    vertical-align: middle;
}

#site-nav {
    clear: both;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    /*padding-top: 2.5em;*/
}

#site-nav.is-active {
    height: auto;
    overflow: visible;
}

@media screen and (min-width: 960px) {
    #site-nav {
        flex-wrap: nowrap;
    }
}

#site-nav h4 {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: .9rem;
}

#site-nav ul {
    list-style-type: none;
    margin-top: 1em;
}

#site-nav li {
    margin-bottom: .3125em;
}

#site-nav li a {
    text-decoration: none;
    transition: color .3s ease;
}

#site-nav li a:hover, #site-nav li a:focus {
    color: #686d6e;
}

#site-nav .social {
    margin: 0;
    overflow: hidden;
}

#site-nav .social li {
    float: left;
    margin: 0 .3125em;
    width: 32px;
    height: 32px;
}

#site-nav .social li svg {
    display: block;
    fill: #b4b9ba;
    width: 100%;
    height: 100%;
    transition: fill .3s ease;
}

#site-nav .social li:hover svg {
    fill: #686d6e;
}

#masthead-search {
    float: right;
    /*margin-top: 0.625em;*/
    width: 100%;
    max-width: 14em;
    position: relative;
    -webkit-appearance: none;
}

#masthead-search input {
    background: transparent;
    border: none;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    outline: none;
    width: 100%;
    padding: .75em 1.125em;
    transition: border-color .3s ease;
    -webkit-appearance: none;
}

#masthead-search button {
    background: none;
    border: none;
    color: #000;
    font-size: 1em;
    padding: 0;
    position: absolute;
    top: 50%;
    right: .75em;
    transform: translateY(-50%);
    -webkit-appearance: none;
}

#masthead.is-active #masthead-search button {
    color: #b4b9ba;
}

#masthead.is-active #masthead-search input {
    border-color: #b4b9ba;
}

#masthead-search ::-webkit-input-placeholder {
    color: #000;
}

#masthead-search :-moz-placeholder {
    color: #000;
    opacity: 1;
}

#masthead-search ::-moz-placeholder {
    color: #000;
    opacity: 1;
}

#masthead-search :-ms-input-placeholder {
    color: #000;
}

#masthead.is-active #masthead-search ::-webkit-input-placeholder {
    color: #b4b9ba;
}

#masthead.is-active #masthead-search :-moz-placeholder {
    color: #b4b9ba;
    opacity: 1;
}

#masthead.is-active #masthead-search ::-moz-placeholder {
    color: #b4b9ba;
    opacity: 1;
}

#masthead.is-active #masthead-search :-ms-input-placeholder {
    color: #b4b9ba;
}

#masthead .col {
    opacity: 0;
}

#masthead.is-active .col {
    transform: translateY(40px);
    transition: opacity .3s ease;
    animation: fade-in-stagger .8s ease forwards;
}

#masthead.is-active .col:nth-child(1) {
    -webkit-animation-delay: 0;
}

#masthead.is-active .col:nth-child(2) {
    -webkit-animation-delay: .1s;
}

#masthead.is-active .col:nth-child(3) {
    -webkit-animation-delay: .2s;
}

#masthead.is-active .col:nth-child(4) {
    -webkit-animation-delay: .3s;
}

#masthead.is-active .col:nth-child(5) {
    -webkit-animation-delay: .4s;
}

@keyframes fade-in-stagger {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*search - https://tympanus.net/codrops/2013/06/26/expanding-search-bar-deconstructed/*/

.sb-search {
    position: relative;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width .3s;
       -moz-transition: width .3s;
            transition: width .3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px !important;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}

.sb-search-input:-moz-placeholder {
    color: #efb480;
}

.sb-search-input::-moz-placeholder {
    color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search, .sb-search-submit {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
        filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: $core-blue;
    z-index: 90;
    font-size: 22px;
    /*font-family: 'icomoon';*/
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    /*content: "\e000";*/
}

/* Open state */

.sb-search.sb-search-open, .no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
    z-index: 90;
}
