$menu-underline-from-center-border-thickness: 0.125rem;

.hover-underline-menu
{
  width: 100%;
  background: #f4f4f4;
  background: -moz-linear-gradient(top,#f4f4f4 0,#ddd 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f4f4f4),color-stop(100%,#ddd));
  background: -webkit-linear-gradient(top,#f4f4f4 0,#ddd 100%);
  background: -o-linear-gradient(top,#f4f4f4 0,#ddd 100%);
  background: -ms-linear-gradient(top,#f4f4f4 0,#ddd 100%);
  background: linear-gradient(to bottom,#f4f4f4 0,#ddd 100%);
  list-style: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
  z-index: 9993;
  height: auto;
  width: 100%;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);

  .menu
  {
    border-left: 1px solid #fff;
    
    a
    {
      color: #243a6e;
      font-size: 16px;
      padding: 1.2rem 1.5rem;
      text-align: center;
    }

    li
    {
      width: 25%;
      border-right: 1px solid #fff;
    }

    .underline-from-center
    {
      position: relative;

      &::after
      {
        content: "";
        position: absolute;
        top: calc(100% - #{$menu-underline-from-center-border-thickness});
        border-bottom: $menu-underline-from-center-border-thickness solid $white;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
      }

      &:hover::after
      {
        left: 0;
        right: 0;
        transition: all 0.5s ease;
      }
    }
  }
}
