.brand.service
{
  position: relative;
  max-width: none;

  img
  {
    width: 160px;
  }

  > span
  {
    position: relative;
    display: inline-block;
    top: 23px;
    margin-left: 20px;
    border-left: 2px solid $core-blue;
    padding-left: 20px;
    color: #1a2a4f;
    font-size: 22px;
    line-height: 22px;
    white-space: nowrap;
    background-color: none;
    font-weight: 700;

    > span
    {
      display: block;
      font-weight:400;
    }
  }

  &.white
  {
    > span
    {
      color: #fff !important;
      border-left: 2px solid #fff !important;
    }
  }
}

.service.mob
{
  background: #000;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: #fff;
  text-transform: uppercase;

  p
  {
    display: block;
    font-weight: 600;
    padding: 0;
    font-size: 18px;

    > span
    {
      display: block;
      font-weight: 600;

      > span
      {
        font-weight:400;
      }
    }

    /*&::after
    {
      content: ' website';
    }*/
  }
}
.off-canvas
{
  .service.mob
  {
    background: none;
    border-bottom: 2px solid $sky-blue;
    padding-left: 10px;
  }
}
