.brand.service
{
  position: relative;
  max-width: none;

  img
  {
    width: 160px;
  }

  span
  {
    position: relative;
    display: inline-block;
    top: 20px;
    margin-left: 20px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
    color: #1a2a4f;
    font-size: 18px;
    white-space: nowrap;
    background-color: #fff;
  }
}

.service.mob
{
  border-bottom: 1px solid #eee;

  p
  {
    display: block;
  }
}
