.wysiwyg
{
  /*h2
  {
    margin: 40px 0 20px 0;
  }

  > h2
  {
    margin-top: 0;
  }*/

  iframe
  {
    min-height: 400px;
    border-radius:3px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.12);
    margin: 20px 0;
  }

  > iframe
  {
    margin-top: 0;
  }

  a
  {
    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
