<div class="grid-container full bg-light-grey">
  <div class="grid-x grid-padding-y grid-padding-x" data-equalizer data-equalize-on="large">
    <div class="cell medium-12 large-12">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Features</a></li>
          <li class="disabled">Gene Splicing</li>
          <li>
            <span class="show-for-sr">Current: </span> Cloning
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
