<div aria-labelledby="campus-information" class="grid-container p-b-60" id="campus-information" role="contentinfo">
	<h2 class="m-b-30 m-small-b-10"><a href="https://www.ulster.ac.uk/campuses">Ulster campuses</a></h2>
	<div class="grid-x grid-margin-x grid-margin-y" data-equalizer>

		{{> campus promotitle = 'Belfast campus' promodesc = 'At the centre of the civic evolution in Belfast' promourl = 'https://www.ulster.ac.uk/campuses/belfast' promoimage = 'https://www.ulster.ac.uk/__data/assets/image/0006/179412/varieties/thumb-newsletter.jpg' }}

		{{> campus promotitle = 'Coleraine campus' promodesc = 'The feeling of community at our Coleraine campus makes for a warm and welcoming student experience.' promourl = 'https://www.ulster.ac.uk/campuses/coleraine' promoimage = 'https://www.ulster.ac.uk/__data/assets/image/0017/214910/varieties/thumb-newsletter.jpg' }}

		{{> campus promotitle = 'Jordanstown campus' promodesc = 'The largest of Ulster\'s campuses' promourl = 'https://www.ulster.ac.uk/campuses/jordanstown' promoimage = 'https://www.ulster.ac.uk/__data/assets/image/0018/262080/varieties/thumb-newsletter.jpg' }}

		{{> campus promotitle = 'Magee campus' promodesc = 'A key player in the economy of the north west' promourl = 'https://www.ulster.ac.uk/campuses/magee' promoimage = 'https://www.ulster.ac.uk/__data/assets/image/0007/32974/varieties/thumb-newsletter.jpg' }}

	</div>
</div>
