<div aria-label="cookie banner" class="action-sheet" id="uls_cc" role="region">
	<div class="grid-container">
		<div class="grid-x grid-margin-x dark-grey-bg m-b-10 m-small-b-0 p-t-10 p-b-10 shadow">
			<div class="cell small-9 medium-10 large-10">
				<p class="text-white m-b-0">ulster.ac.uk uses cookies to give users the best experience possible.</p>
				<p class="m-b-0"><a class="bl text-white" href="https://www.ulster.ac.uk/about/cookies">Find out more&nbsp;<span aria-hidden="true" class="fas fa-angle-right"></span></a></p>
			</div>
			<div class="cell small-3 medium-2 large-2">
				<ul class="m-t-10 m-b-0 flt-r m-l-20 m-small-l-0 m-small-t-0">
					<li>
						<a class="bl m-b-0 m-l-20 m-small-l-0 text-white text-right-small" href="#" id="uls_cc_close"><span aria-hidden="true" class="fas fa-times-circle m-r-5"></span><span class="hide-for-small-only">&nbsp;Dismiss</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
