<div class="cell medium-6">
  <div class="radius bordered shadow card" data-equalizer-watch>
    <div class="card-section">
      <h4 class="h2"><a href="https://www.ulster.ac.uk/beta2/study/undergraduate">English and History</a></h4>
      <cite>BSc (Hons)</cite>
      <hr>
      <p>
        <small>
          Full-time Undergraduate course<br>
          Year of entry: 2018/19<br>
          Jordanstown campus
        </small>
      </p>
      <p>An innovative suite of pathways that offers you great employment opportunities within several of the fastest growing professional service areas.</p>
      <p><a href="#" class="button">View course <i class="fa fa-angle-right"></i></a></p>
    </div>
  </div>
</div>
