<div class="bg-navy">
	<form action="https://www.ulster.ac.uk/courses" method="get" class="course-finder">
		<div class="grid-container">
			<div class="grid-x p-t-15 p-b-15">
				<div class="cell small-12 large-2 white-text text-center">
					<h2>Find a course</h2>
				</div>
				<div class="cell small-12 large-5">
					<label class="show-for-sr" for="query">Keywords</label> <input autocomplete="off" class="input-group-field ui-autocomplete-input" id="query" name="query" placeholder="Search for courses, subject, campus, etc..." style="height:41px;" type="text">
				</div>
				<div class="cell small-12 large-4 p-l-10 p-r-10 p-medium-l-0 p-medium-r-0 p-medium-t-10 p-medium-b-10 p-small-l-0 p-small-r-0 p-small-t-10 p-small-b-10">
					<label class="show-for-sr" for="fTypeD">Level</label>
					<select class="input-group-field" id="fTypeD" name="f.Level|Y">
						<optgroup label="Study level">
							<option value="" selected>
								All Levels
							</option>
							<option value="Undergraduate">
								Undergraduate
							</option>
							<option value="Postgraduate">
								Postgraduate
							</option>
							<option value="Short courses and CPD">
								Short courses and CPD
							</option>
							<option value="Postgraduate Research">
								Postgraduate Research
							</option>
							<option value="eLearning">
								eLearning
							</option>
						</optgroup>
					</select>
				</div>
				<div class="cell small-12 large-1">
					<div class="m-r-20 m-medium-r-0 m-small-r-0">
						<button class="button radius shadow expanded m-b-0" type="submit"><span class="show-for-sr">Search</span> <span aria-hidden="true" class="fa fa-search"></span></button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
