<div class="off-white-bg shadow">
  <div class="grid-container">
    <br>
    <div class="grid-x grid-padding-x">
      <div class="cell large-12">
        <form>
          <div class="input-group">
            <span class="input-group-label">Find a course</span>
            <input class="input-group-field" type="text" placeholder="e.g. Art">
            <div class="input-group-button">
              <input type="submit" class="button" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
