<style>
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.demo-card-wide .mdl-card__supporting-text {
  margin: 0 !important;
  width: 100% !mportant;
  white-space: inherit;
}
</style>


<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Related events</span>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background-image:url('https://www.ulster.ac.uk/__data/assets/image/0017/7514/RS328__DSC6710-scr.jpg');">
      <h4 class="mdl-card__title-text">Open Days 2018</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Register Now
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background-image:url('https://www.ulster.ac.uk/__data/assets/image/0017/7514/RS328__DSC6710-scr.jpg');">
      <h4 class="mdl-card__title-text">Open Days 2018</h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Register Now
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>




</div>
