<div id="persistent-features-top"></div>
<div class="sticky show-for-large" data-margin-top="0" data-stick-to="top" data-sticky="" data-top-anchor="persistent-features-top:top">
  <div id="panel" data-toggler="is-hidden">
    <div class="navy-bg white-text shadow">
      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y">

          <div class="cell large-4">
            <a href="https://www.ulster.ac.uk/personalised-prospectus" class="button hollow rounded expanded no-margin-bottom">
              <div class="pulse-gold"><i class="fa fa-book" aria-hidden="true"></i></div>
              &nbsp;&nbsp;
              Create your prospectus</a>
          </div>

          <div class="cell large-3">
            <a href="https://www.ulster.ac.uk/courses" class="button hollow secondary rounded expanded no-margin-bottom">
              <div class="no-pulse-navy"><i class="fa fa-search" aria-hidden="true"></i></div>
              &nbsp;&nbsp;
              Find a course
            </a>
          </div>

          <div class="cell large-3">
            <a href="https://www.ulster.ac.uk/global/contact" class="button hollow secondary rounded expanded no-margin-bottom">
              <div class="no-pulse-navy"><i class="fa fa-phone" aria-hidden="true"></i></div>
              &nbsp;&nbsp;
              Contact us
            </a>
          </div>

          <div class="cell auto">
            <div class="grid-x grid-padding-x">
              <div class="cell large-12"><cite>Follow us</cite></div>
              <div class="cell large-1">
                <a href="https://www.facebook.com/ulsteruniversityinternational">
                  <div class="no-pulse-navy"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                  <span class="show-for-sr">Facebook</span>
                </a>
              </div>
              <div class="cell large-1">
                <a href="https://www.twitter.com/ulsteruniintl">
                  <div class="no-pulse-navy"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                  <span class="show-for-sr">Twitter</span>
                </a>
              </div>
              <div class="cell large-1">
                <a href="https://www.instagram.com/ulsteruniintl">
                  <div class="no-pulse-navy"> <i class="fa fa-instagram" aria-hidden="true"></i></div>
                  <span class="show-for-sr">Instagram</span>
                </a>
              </div>
              <div class="cell large-1">
                <a href="https://youtube.com/channel/UCauxDW-EsP92_UBWQjqc99Q?view_as=subscriber">
                  <div class="no-pulse-navy"><i class="fa fa-youtube" aria-hidden="true"></i></div>
                  <span class="show-for-sr">YouTube</span></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile -->
<div class="action-sheet hide-for-large navy-bg">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell small-3">
      <a href="https://www.ulster.ac.uk/personalised-prospectus" class="button expanded secondary hollow">
        <div class="pulse-align-container"><i aria-hidden="true" class="fa fa-book"></i></div>
         <span class="show-for-sr">Create your prospectus</span>
       </a>
     </div>
    <div class="cell small-3">
      <a  href="https://www.ulster.ac.uk/courses" class="button expanded secondary hollow">
        <div class="pulse-align-container"><i aria-hidden="true" class="fa fa-search"></i></div>
        <span class="show-for-sr">Find a course</span>
      </a>
    </div>
    <div class="cell small-3">
      <a href="https://www.ulster.ac.uk/global/contact" class="button expanded secondary hollow">
        <div class="pulse-align-container"><i aria-hidden="true" class="fa fa-phone"></i></div>
        <span class="show-for-sr">Contact us</span>
      </a>
    </div>
    <div class="cell small-3">
      <a href="#" class="button expanded secondary hollow openchat"data-toggle="social-off-canvas">
        <div class="pulse-align-container"><i aria-hidden="true" class="fa fa-plus"></i></div>
        <span class="show-for-sr">Follow us</span>
      </a>
    </div>
  </div>
</div>

<div class="off-canvas position-top hide-for-large off-white-bg" data-off-canvas="" id="social-off-canvas">
  <div class="card-section">
    <p class="separator-left">Social</p>
    <div class="grid-x grid-padding-x">
      <div class="cell small-3 medium-3">
        <a href="https://www.facebook.com/ulsteruniversityinternational" class="button hollow">
          <div class="no-pulse-navy"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          <span class="show-for-sr">Facebook</span>
        </a>
      </div>
      <div class="cell small-3 medium-3">
        <a href="https://www.twitter.com/ulsteruniintl" class="button hollow">
        <div class="no-pulse-navy"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          <span class="show-for-sr">Twitter</span>
        </a>
      </div>
      <div class="cell small-3 medium-3">
        <a href="https://www.instagram.com/ulsteruniintl" class="button hollow">
          <div class="no-pulse-navy"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <span class="show-for-sr">Instagram</span>
        </a>
      </div>
      <div class="cell small-3 medium-3">
        <a href="https://youtube.com/channel/UCauxDW-EsP92_UBWQjqc99Q?view_as=subscriber" class="button hollow">
          <div class="no-pulse-navy"><i class="fa fa-youtube" aria-hidden="true"></i></div>
          <span class="show-for-sr">YouTube</span>
        </a>
      </div>
    </div>
  </div>
</div>
