<!-- magellan -->
<div class="hide-for-small-only" data-sticky-container="" id="nav">
  <div class="white-text sticky" data-margin-top="0" data-sticky="" data-top-anchor="nav:top">
    <div class="grid-container">
      <ul class="menu" data-magellan="">
        <li>
          <a class="h3" href="#section-1">Why Ulster University&nbsp;&nbsp;<span aria-hidden="true" class="fa fa-angle-down"></span></a>
        </li>
        <li>
          <a class="h3" href="#section-2">Applying&nbsp;&nbsp;<span aria-hidden="true" class="fa fa-angle-down"></span></a>
        </li>
        <li>
          <a class="h3" href="#section-3">Pre-Arrival&nbsp;&nbsp;<span aria-hidden="true" class="fa fa-angle-down"></span></a>
        </li>
        <li>
          <a class="h3" href="#section-4">Study Abroad&nbsp;&nbsp;<span aria-hidden="true" class="fa fa-angle-down"></span></a>
        </li>
        <li>
          <a class="h3" href="#section-5">Student Reviews&nbsp;&nbsp;<span aria-hidden="true" class="fa fa-angle-down"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- magellan -->

<div class="cover-background" style="background-image:url('https://www.ulster.ac.uk/__data/assets/image/0020/264161/4216.jpg');background-position:center center;min-height:400px;">
  <!-- main promo content -->
  <div class="grid-container p-t-100 p-b-100 p-small-t-20">
    <div class="grid-x">
      <div class="cell small-9 medium-6 large-6">
        <div class="bg-deep-blue p-l-20 p-r-20 p-t-20 p-b-20 m-small-b-100 hide-for-small-only">
          <h2 class="h1 bl larger m-b-10 text-sky-blue">Join our Global Community</h2>
          <div class="white-text">
            <p>Join our diverse community of international students, with representation from over 100 nationalities, where commitment to excellence, learning and growing is at the heart of all we do.</p>
            <p class="m-b-0"><a href="#about" class="button clear bl p-l-0 m-b-0" data-smooth-scroll="" id="rpu775-smooth-scroll" data-e="jfu6tc-e">Find out more&nbsp;&nbsp;<span class="fa fa-angle-down" aria-hidden="true"></span></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main promo content -->
</div>

<div class="grid-container m-t-30 m-b-30" id="about">
  <h2 class="h1 bl m-b-30">Study opportunities</h2>
  <div class="grid-x grid-margin-x">
    <div class="cell large-4">
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <a href="https://www.ulster.ac.uk/global/postgraduate">
              <img alt="Apply" src="https://www.ulster.ac.uk/__data/assets/image/0020/264161/varieties/thumb-newsletter.jpg" width="120">
            </a>
          </div>
        </div>
        <div class="media-object-section main-section">
          <h3><a href="https://www.ulster.ac.uk/global/postgraduate">Postgraduate study</a></h3>
          <p>Study a UK Masters in 12-months.</p>
        </div>
      </div>
    </div>
    <div class="cell large-4">
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <a href="#">
              <img alt="Apply" src="https://www.ulster.ac.uk/__data/assets/image/0009/264096/varieties/thumb-newsletter.jpg" width="120">
            </a>
          </div>
        </div>
        <div class="media-object-section main-section">
          <h3>
            <a href="https://www.ulster.ac.uk/global/ifp">International Foundation Programme</a>
          </h3>
          <p>An alternative route to studying a bachelor degree at Ulster University.</p>
        </div>
      </div>
    </div>
    <div class="cell large-4">
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <a href="#">
              <img alt="Apply" src="https://www.ulster.ac.uk/__data/assets/image/0004/264766/varieties/thumb-newsletter.jpg" width="120">
            </a>
          </div>
        </div>
        <div class="media-object-section main-section">
          <h3><a href="#">Undergraduate study</a></h3>
          <p>A short description.</p>
        </div>
      </div>
    </div>
  </div>
</div>
