<a class="visually-hidden" href="#navigation">Skip to navigation</a> <a class="visually-hidden" href="#main-content">Skip to content</a>
<header class="resp-pull-left" id="header">
	<div class="content">
		<div class="col">
			<a class="hide-state" href="#top" id="show-mobile-navigation"><i class="fa fa-bars"></i><strong>Show navigation</strong></a><!--[if lte IE 8]>
      <a class="brand" href="/" tabindex="1"><img src="//cdn.ulster.ac.uk/home/ulster-frontend/img/microsites/ulster-university-logo.png" alt="Ulster University"></a>
<![endif]-->
			<!--[if gte IE 9]><!-->
			 <a class="brand ulster-university" href="/" tabindex="1">Ulster University</a> <!--<![endif]-->
			<form action="https://www.ulster.ac.uk/search" id="searchform" method="get" name="searchform" role="search">
				<label for="global-search">Search this website</label> <input class="ui-autocomplete-input clearable" id="global-search" name="query" placeholder="Search Ulster University" tabindex="5" type="text"> <button title="Search" type="submit"><i class="fa fa-search"></i><span>Search</span></button>
			</form>
			<nav class="navigation resp-push-left" id="navigation" role="navigation">
				<ul class="main-navigation">
					<li class=" selected" id="nav-69">
						<a class="em" href="https://www.ulster.ac.uk/home" tabindex="6">Home</a>
					</li>
					<li class="dropdown" id="nav-115">
						<a class="em" href="https://www.ulster.ac.uk/courses" tabindex="7">Courses</a>
						<ul>
							<li>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/courses" tabindex="-1">Courses</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Entry_year|entryyear=201718" tabindex="-1">Course finder</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Entry_year|entryyear=201718&f.Level|Y=Undergraduate" tabindex="-1">Undergraduate</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Entry_year|entryyear=201617&f.Level|Y=Postgraduate" tabindex="-1">Postgraduate</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Entry_year|entryyear=201617&f.Level|Y=Postgraduate+Research" tabindex="-1">Postgraduate Research Programmes</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Entry_year|entryyear=201617&f.Level|coursetype=Short+courses+and+CPD" tabindex="-1">Short courses and CPD</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Attendance|modept=Part-time" tabindex="-1">Part-time courses</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Level|elearning=eLearning" tabindex="-1">eLearning</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="mega-menu" id="nav-119">
						<a class="em" href="https://www.ulster.ac.uk/apply" tabindex="8">Apply</a>
						<ul>
							<li>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/apply" tabindex="-1">Apply</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/admissions-information" tabindex="-1">Admissions information</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/how-to-apply" tabindex="-1">How to apply</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/admissions-information" tabindex="-1">Admissions</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/phdresearch-degrees" tabindex="-1">Research students</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/international" tabindex="-1">International students</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/your-rights-and-obligations" tabindex="-1">Your rights and obligations</a>
									</li>
								</ul>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/apply/fees-and-finance" tabindex="-1">Fees and finance</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/fees-and-finance/undergraduate" tabindex="-1">Undergraduate</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/fees-and-finance/postgraduate" tabindex="-1">Postgraduate</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/fees-and-finance/part-time" tabindex="-1">Part-time</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/fees-and-finance/bursaries" tabindex="-1">Bursaries</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/fees-and-finance/scholarships" tabindex="-1">Scholarships</a>
									</li>
								</ul>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/apply/entrance-requirements" tabindex="-1">Entrance requirements</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/apply/entrance-requirements/equivalence" tabindex="-1">Equivalence of qualifications</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="mega-menu" id="nav-123">
						<a class="em" href="https://www.ulster.ac.uk/ulster-life" tabindex="9">Ulster Life</a>
						<ul>
							<li>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/ulster-life" tabindex="-1">Ulster Life</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/accommodation" tabindex="-1">Accommodation</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/campuses" tabindex="-1">Campuses</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/careers" tabindex="-1">Careers</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/key-facts" tabindex="-1">Key facts</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/sport" tabindex="-1">Sport</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/students-union" tabindex="-1">Students' Union</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/student-support" tabindex="-1">Student Support</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/events" tabindex="-1">Events</a>
									</li>
								</ul>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster" tabindex="-1">Study at Ulster</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/undergraduate" tabindex="-1">Undergraduate</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/postgraduate" tabindex="-1">Postgraduate</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/part-time" tabindex="-1">Part-time</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/elearning" tabindex="-1">eLearning</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/short-courses" tabindex="-1">Short courses</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/international" tabindex="-1">International</a>
									</li>
								</ul>
								<ul>
									<li class="title">
										<a href="" tabindex="-1">Information for...</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/parents-and-families" tabindex="-1">Parents and families</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/teachers-and-advisers" tabindex="-1">Teachers and Advisers</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/fe-students" tabindex="-1">Further Education students</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/associate-students" tabindex="-1">Associate students</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/gb-students" tabindex="-1">Students from England, Scotland and Wales</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/ulster-life/study-at-ulster/eu" tabindex="-1">EU students</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="mega-menu" id="nav-59187">
						<a class="em" href="https://www.ulster.ac.uk/research" tabindex="10">Research &amp; Impact</a>
						<ul>
							<li>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/research" tabindex="-1">Research &amp; Impact</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/our-research" tabindex="-1">Our research</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/work-with-us" tabindex="-1">Work with us</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/innovation" tabindex="-1">Innovation</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/institutes" tabindex="-1">Research Institutes</a>
									</li>
								</ul>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/research/phdresearch-degrees" tabindex="-1">PhD/Research degrees</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/phdresearch-degrees/current-opportunities" tabindex="-1">Current opportunities</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/phdresearch-degrees/how-to-apply" tabindex="-1">How to apply</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/phdresearch-degrees/funding" tabindex="-1">Funding</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/phdresearch-degrees/faqs" tabindex="-1">FAQs</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/phdresearch-degrees/contact" tabindex="-1">Contact</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/courses/course-finder?query=&f.Entry_year|entryyear=201617&f.Level|Y=Postgraduate+Research" tabindex="-1">Postgraduate Research Programmes</a>
									</li>
								</ul>
								<ul>
									<li class="title">
										<a href="" tabindex="-1">More information</a>
									</li>
									<li>
										<a href="http://www.ulster.ac.uk/ref2014/" tabindex="-1">REF 2014</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/research/work-with-us/business/access-ulster" tabindex="-1">Access Ulster</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="mega-menu" id="nav-131">
						<a class="em" href="https://www.ulster.ac.uk/business" tabindex="11">Business</a>
						<ul>
							<li>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/business" tabindex="-1">Business</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/employers" tabindex="-1">Employers</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/work-with-us" tabindex="-1">Work with us</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/venue-hire" tabindex="-1">Venue hire</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/employers/recruit-students" tabindex="-1">Recruit our students</a>
									</li>
								</ul>
								<ul>
									<li class="title">
										<a href="https://www.ulster.ac.uk/business/ulster-university-business-school" tabindex="-1">Ulster University Business School</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/ulster-university-business-school/about" tabindex="-1">About</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/theacademy" tabindex="-1">Academy Restaurant</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/ulster-university-business-school/business-institute" tabindex="-1">Business Institute</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/ulster-university-business-school/epc" tabindex="-1">Economic Policy Centre</a>
									</li>
									<li>
										<a href="https://www.ulster.ac.uk/business/ulster-university-business-school/sme-centre" tabindex="-1">SME Centre</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<!--<ul class="utility-nav">
					<li>
						<a href="https://www.ulster.ac.uk/graduates">Graduates</a>
					</li>
					<li>
						<a href="https://www.ulster.ac.uk/international">International</a>
					</li>
					<li>
						<a href="http://portal.ulster.ac.uk">Current students</a>
					</li>
					<li>
						<a href="https://www.ulster.ac.uk/staff-links">Staff</a>
					</li>
					<li>
						<a href="https://www.ulster.ac.uk/atoz">A-Z index</a>
					</li>
				</ul>-->
			</nav>
		</div>
	</div>
</header>
