<div class="grid-container white-bg tabs-pull-up shadow-top m-b-30 p-t-20 m-small-t-0 relative-z-index-2 p-l-10 p-r-10 p-b-60 p-medium-b-0 p-small-b-0 p-small-l-0 p-small-r-0">
	<div class="grid-x" data-equalizer data-equalize-by-row="true" data-equalize-on="medium">
		{{> promo-one promotitle = 'Heading two' promodesc = 'A description' promocta = 'Call to action'}}
    {{> promo-one promotitle = 'Heading two which spans three lines on desktop' promodesc = 'A description for this panel' promocta = 'Call to action'}}
    {{> promo-one promotitle = 'Heading two is longer here' promodesc = 'A description' promocta = 'Call to action'}}
    {{> promo-one promotitle = 'Heading two' promodesc = 'A description which is much longer than the other panel descriptions' promocta = 'Call to action'}}
	</div>
</div>
