<div class="grid-container p-t-30">
	<div class="grid-x m-b-30 m-small-b-0">
		<div class="cell small-4 medium-4 large-4">
			<h2 class="m-b-0 m-t-5"><a href="https://www.ulster.ac.uk/events">Events</a></h2>
		</div>
		<div class="cell small-8 medium-8 large-8">
			<div id="events-slider" class="flt-r">
				<button class="uls-prev button hollow square h2 p-t-10 p-b-10 p-l-10 p-r-10">&nbsp;<span class="fas fa-angle-left" aria-hidden="true"></span><span class="show-for-sr">Previous</span>&nbsp;</button>
				<button class="uls-next button hollow square h2 p-t-10 p-b-10 p-l-10 p-r-10">&nbsp;<span class="fas fa-angle-right" aria-hidden="true"></span><span class="show-for-sr">Next</span>&nbsp;</button>
			</div>
		</div>
	</div>
</div>
<div class="grid-container p-l-10 p-r-10 p-small-l-0 p-small-r-0 p-b-30 overflow-x-hidden">
  <div class="uls-slick spaced" data-controls-id="events-slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "centerMode": false, "centrePadding": "60px", "infinite": true, "speed": 200}'>
		<div data-area="true" data-area-url="https://www.ulster.ac.uk/news">
			<p><a href="https://www.ulster.ac.uk/faculties/ulster-university-business-school/events/future-proofing-leadership-and-management-4.0"><img alt='Management 4.0: The Future of Management and Leadership ' data-lazy='https://www.ulster.ac.uk/__data/assets/image/0006/531465/varieties/thumb-newsletter.jpg'></a></p><!--<span class="label primary">Event</span>-->
			<h2 class="h3"><a href="https://www.ulster.ac.uk/faculties/ulster-university-business-school/events/future-proofing-leadership-and-management-4.0">Management 4.0: The Future of Management and Leadership</a></h2>
			<div class="meta m-t-10">
				<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
				<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 6:30PM - 7:30PM</p>
				<p><span><span aria-hidden="true" class="far fa-map-marker"></span></span> Coleraine campus</p>
			</div>
		</div>
		<div data-area="true" data-area-url="https://www.ulster.ac.uk/news">
			<p><a href="https://www.ulster.ac.uk/faculties/ulster-university-business-school/events/managing-and-motivating-generation-z-with-susan-hayes-culleton"><img alt='Managing and Motivating Generation Z with Susan Hayes-Culleton' data-lazy='https://www.ulster.ac.uk/__data/assets/image/0008/532718/varieties/thumb-newsletter.jpg'></a></p><!--<span class="label primary">Event</span>-->
			<h2 class="h3"><a href="https://www.ulster.ac.uk/faculties/ulster-university-business-school/events/managing-and-motivating-generation-z-with-susan-hayes-culleton">Managing and Motivating Generation Z with Susan Hayes-Culleton</a></h2>
			<div class="meta m-t-10">
				<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
				<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 6:30PM - 7:30PM</p>
				<p><span><span aria-hidden="true" class="far fa-map-marker"></span></span> Coleraine campus</p>
			</div>
		</div>
		<div data-area="true" data-area-url="https://www.ulster.ac.uk/news">
			<p><a href="https://www.ulster.ac.uk/faculties/ulster-university-business-school/events/sustainability-in-hospitality-a-performance-metrics-perspective"><img alt='Sustainability in Hospitality: A Performance Metrics Perspective' data-lazy='https://www.ulster.ac.uk/__data/assets/image/0007/533626/varieties/thumb-newsletter.jpg'></a></p><!--<span class="label primary">Event</span>-->
			<h2 class="h3"><a href="https://www.ulster.ac.uk/faculties/ulster-university-business-school/events/sustainability-in-hospitality-a-performance-metrics-perspective">Sustainability in Hospitality: A Performance Metrics Perspective</a></h2>
			<div class="meta m-t-10">
				<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
				<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 6:30PM - 7:30PM</p>
				<p><span><span aria-hidden="true" class="far fa-map-marker"></span></span> Coleraine campus</p>
			</div>
		</div>
		<div data-area="true" data-area-url="https://www.ulster.ac.uk/news">
			<p><a href="https://www.ulster.ac.uk/global/events/2020/webinar-tesol-teaching-english-to-speakers-of-other-languages"><img alt='Webinar | TESOL (Teaching English to Speakers of Other Languages)' data-lazy='https://www.ulster.ac.uk/__data/assets/image/0007/264733/varieties/thumb-newsletter.jpg'></a></p><!--<span class="label primary">Event</span>-->
			<h2 class="h3"><a href="https://www.ulster.ac.uk/global/events/2020/webinar-tesol-teaching-english-to-speakers-of-other-languages">Webinar | TESOL (Teaching English to Speakers of Other Languages)</a></h2>
			<div class="meta m-t-10">
				<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
				<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 6:30PM - 7:30PM</p>
				<p><span><span aria-hidden="true" class="far fa-map-marker"></span></span> Coleraine campus</p>
			</div>
		</div>
		<div data-area="true" data-area-url="https://www.ulster.ac.uk/news">
			<p><a href="https://www.ulster.ac.uk/business/employers/events/northern-ireland-graduate-recruitment-fair2"><img alt='Northern Ireland Graduate Recruitment Fair ' data-lazy='https://www.ulster.ac.uk/__data/assets/image/0006/265839/varieties/thumb-newsletter.jpg'></a></p><!--<span class="label primary">Event</span>-->
			<h2 class="h3"><a href="https://www.ulster.ac.uk/business/employers/events/northern-ireland-graduate-recruitment-fair2">Northern Ireland Graduate Recruitment Fair</a></h2>
			<div class="meta m-t-10">
				<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
				<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 6:30PM - 7:30PM</p>
				<p><span><span aria-hidden="true" class="far fa-map-marker"></span></span> Coleraine campus</p>
			</div>
		</div>
	</div>
</div>

<div class="grid-container show-for-small-only">
  <a href="https://www.ulster.ac.uk/events" class="button hollow expanded">View all events events</a>
</div>


	<!--<div class="grid-x grid-margin-x">
		<div class="cell large-12">
			<h2><a href="https://www.ulster.ac.uk/events">Events</a></h2>
		</div>
		<div class="cell small-12 medium-3 large-3 m-small-b-10" data-area="true" data-area-url="https://www.ulster.ac.uk/artsandculture/events/as-the-image-echoes">
			<div class="grid-x grid-margin-x">
				<div class="cell small-6 medium-12 large-12 hide-for-small-only m-b-10">
					<a aria-label="How the Image Echoes, Part 2" href="https://www.ulster.ac.uk/artsandculture/events/as-the-image-echoes"><img alt="How the Image Echoes, Part 2" class="hqy-lazy" data-src="https://www.ulster.ac.uk/__data/assets/image/0007/519352/varieties/thumb-newsletter.jpg" data-src-small="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif" src="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif"></a>
				</div>
				<div class="cell small-12 medium-12 large-12">
					<div data-equalizer-watch="true">
						<h2 class="h3"><a href="https://www.ulster.ac.uk/artsandculture/events/as-the-image-echoes">How the Image Echoes, Part 2</a></h2>
					</div>
					<div class="meta m-t-10">
						<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Thursday 30 January to Saturday 29 February</p>
						<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 12:00AM - 12:00AM</p>
						<p><span><span aria-hidden="true" class="far fa-map-marker"></span></span> Belfast campus</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cell small-12 medium-3 large-3 m-small-b-10" data-area="true" data-area-url="https://www.ulster.ac.uk/employability/events/webinars/preparing-and-structuring-your-interview-answers-2">
			<div class="grid-x grid-margin-x">
				<div class="cell small-6 medium-12 large-12 hide-for-small-only m-b-10">
					<a aria-label="Preparing and structuring your interview answers" href="https://www.ulster.ac.uk/employability/events/webinars/preparing-and-structuring-your-interview-answers-2"><img alt="Preparing and structuring your interview answers" class="hqy-lazy" data-src="https://www.ulster.ac.uk/__data/assets/image/0007/268576/varieties/thumb-newsletter.jpg" data-src-small="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif" src="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif"></a>
				</div>
				<div class="cell small-12 medium-12 large-12">
					<div data-equalizer-watch="true">
						<h2 class="h3"><a href="https://www.ulster.ac.uk/employability/events/webinars/preparing-and-structuring-your-interview-answers-2">Preparing and structuring your interview answers</a></h2>
					</div>
					<div class="meta m-t-10">
						<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
						<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 1:00PM - 2:00PM</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cell small-12 medium-3 large-3 m-small-b-10" data-area="true" data-area-url="https://www.ulster.ac.uk/employability/events/webinars/overcoming-interview-nerves-2">
			<div class="grid-x grid-margin-x">
				<div class="cell small-6 medium-12 large-12 hide-for-small-only m-b-10">
					<a aria-label="Overcoming interview nerves" href="https://www.ulster.ac.uk/employability/events/webinars/overcoming-interview-nerves-2"><img alt="Overcoming interview nerves" class="hqy-lazy" data-src="https://www.ulster.ac.uk/__data/assets/image/0009/264843/varieties/thumb-newsletter.jpg" data-src-small="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif" src="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif"></a>
				</div>
				<div class="cell small-12 medium-12 large-12">
					<div data-equalizer-watch="true">
						<h2 class="h3"><a href="https://www.ulster.ac.uk/employability/events/webinars/overcoming-interview-nerves-2">Overcoming interview nerves</a></h2>
					</div>
					<div class="meta m-t-10">
						<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
						<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 2:00PM - 3:00PM</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cell small-12 medium-3 large-3 m-small-b-10" data-area="true" data-area-url="https://www.ulster.ac.uk/accommodation/residents-life/vegan-dinner-night-coleraine2">
			<div class="grid-x grid-margin-x">
				<div class="cell small-6 medium-12 large-12 hide-for-small-only m-b-10">
					<a aria-label="Vegan Dinner Night (Coleraine)" href="https://www.ulster.ac.uk/accommodation/residents-life/vegan-dinner-night-coleraine2"><img alt="Vegan Dinner Night (Coleraine)" class="hqy-lazy" data-src="https://www.ulster.ac.uk/__data/assets/image/0007/267136/varieties/thumb-newsletter.jpg" data-src-small="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif" src="//cdn.ulster.ac.uk/home/ulster-frontend/beta/assets/img/blank-thumb-newsletter.gif"></a>
				</div>
				<div class="cell small-12 medium-12 large-12">
					<div data-equalizer-watch="true">
						<h2 class="h3"><a href="https://www.ulster.ac.uk/accommodation/residents-life/vegan-dinner-night-coleraine2">Vegan Dinner Night (Coleraine)</a></h2>
					</div>
					<div class="meta m-t-10">
						<p><span><span aria-hidden="true" class="far fa-calendar"></span></span> Wednesday 26 February</p>
						<p><span><span aria-hidden="true" class="far fa-clock"></span></span> 6:30PM - 7:30PM</p>
						<p><span><span aria-hidden="true" class="far fa-map-marker"></span></span> Coleraine campus</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
