<div class="cover-background-r hqy-lazy standard-page-image" data-src="./assets/img/home/alexis-brown-omeaHbEFlN4-unsplash.jpg">
  <div class="bg-black-trans-gradient">
		<div class="grid-container p-t-30 p-b-30 p-small-t-15 p-small-b-15">

      <h2><a href="https://www.ulster.ac.uk/news" class="text-white">In the News</a></h2>

      <!-- Featured latest item -->
      <div class="grid-x m-b-30 m-small-b-20">
        {{> news-featured title="This is a news item title" cols="12"}}
      </div>
      <!-- Featured latest item -->

      <!-- 4 x items -->
			<div class="grid-x grid-margin-x grid-margin-y">
        {{> news-item title="This is a news item title" cols="6"}}
        {{> news-item title="This is a news item title" cols="6"}}
        {{> news-item title="This is a news item title" cols="6"}}
        {{> news-item title="This is a news item title" cols="6"}}
			</div>
      <!-- 4 x items -->

		</div>
	</div>
</div>
