<!-- main promo -->
<div aria-labelledby="main-banner" id="main-banner" role="banner">
	<div class="grid-container full">
		<div class="hqy-lazy m-b-0 p-t-100 p-b-100 p-small-t-0 p-small-b-0 cover-background-r" data-src="https://www.ulster.ac.uk/__data/assets/image/0007/514699/applicant-events.jpg" data-src-small="https://cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif">
			<a class="show-for-small-only display-block" href=""><img alt="" class="hqy-lazy show-for-small-only" data-src="https://cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif" data-src-small="https://www.ulster.ac.uk/__data/assets/image/0007/514699/applicant-events.jpg" src="https://cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif"></a>
			<div class="grid-container bg-small-only-navy">
				<div class="grid-x">
					<div class="cell small-12 medium-6 large-5">
						<div class="m-b-60 m-small-b-0 flt-l p-t-20 p-b-20 white-text">
							<h2 class="larger m-small-b-10"><a href="">Application Days</a></h2>
							<p>Applied to Ulster? Don&rsquo;t miss our events to find out why you should make Ulster University your No.1 confirmed UCAS choice.</p>
							<p class="m-b-0"><a class="button shadow m-b-0 primary" href="https://www.ulster.ac.uk/applicant-day">Register now&nbsp;&nbsp;<span aria-hidden="true" class="fa fa-angle-right"></span></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- main promo -->
