<div class="grid-container full">
	<div class="hqy-lazy m-b-0 cover-background-r p-t-100 p-b-100" data-src="https://www.ulster.ac.uk/__data/assets/image/0007/514699/applicant-events.jpg" data-src-small="https://cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif">
	  <a href="https://www.ulster.ac.uk/applicant-day" class="show-for-small-only display-block">
		  <img alt="Applicant Events 2020" class="hqy-lazy show-for-small-only" src="https://cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif" data-src="https://cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif" data-src-small="https://www.ulster.ac.uk/__data/assets/image/0007/519802/applicant-events.jpg" />
		</a>
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell small-12 medium-6 large-5">
					<div class="m-small-b-0 flt-l p-l-30 p-r-30 p-t-30 p-b-30 m-b-60 white-bg shadow radius">
					  <h2 class="larger m-small-b-10">
							<a href="https://www.ulster.ac.uk/applicant-day">Applicant Events 2020</a>
					  </h2>
			      <p class="m-small-b-10">Applied to Ulster? Don’t miss our events to find out why you should make Ulster University your No.1 confirmed UCAS choice.</p>
					  <p class="m-b-0"><a href="https://www.ulster.ac.uk/applicant-day" class="button shadow m-b-0 bg-bright-blue">Register Now&nbsp;&nbsp;<span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
