<div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
  <ul class="vertical menu grid-x grid-padding-y" data-accordion-menu>
    <li class="h4">
      <a href="https://www.ulster.ac.uk" class="h4">
        <img class="brand" src="//cdn.ulster.ac.uk/home/ulster-frontend/img/ulster-university-reverse.svg" alt="Ulster University">
      </a>
    </li>
    <li class="h4"><a href="https://www.ulster.ac.uk">Home</a></a></li>
    <li class="h4"><a href="https://www.ulster.ac.uk/courses">Courses</a></a></li>
    <li class="h4"><a href="https://www.ulster.ac.uk/apply">Apply</a></a></li>
    <li class="h4"><a href="https://www.ulster.ac.uk/ulster-life">Ulster Life</a></a></li>
    <li class="h4"><a href="https://www.ulster.ac.uk/research">Research &amp; Impact</a></a></li>
    <li class="h4"><a href="https://www.ulster.ac.uk/business">Business</a></a></li>
    <li class="h4"><a href="https://www.ulster.ac.uk/international">International</a></a></li>
    <li class="h4"><a href="https://www.ulster.ac.uk">Useful Links</a>
      <ul class="menu vertical nested">
        <li class="h4"><a href="https://www.ulster.ac.uk/graduates">Graduates</a></li>
        <li class="h4"><a href="https://portal.ulster.ac.uk">Current Students</a></li>
        <li class="h4"><a href="https://www.ulster.ac.uk/staff">Staff</a></li>
        <li class="h4"><a href="https://www.ulster.ac.uk/a-to-z">A-Z index</a></li>
      </ul>
    </li>
  </ul>
  <ul class="vertical menu">
    <li class="h4"><a href="https://twitter.com/StudyAtUlster"><i class="fa fa-twitter-square"></i> Twitter</a></li>
    <li class="h4"><a href="https://www.facebook.com/studyatulster"><i class="fa fa-facebook-square"></i> Facebook</a></li>
    <li class="h4"><a href="https://www.flickr.com/photos/universityofulster"><i class="fa fa-flickr"></i> Flickr</a></li>
    <li class="h4"><a href="https://www.youtube.com/user/StudyAtUlster"><i class="fa fa-youtube-square"></i> YouTube</a></li>
  </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
  <div class="nav-bar">
    <div class="nav-bar-left">
      <a href="https://www.ulster.ac.uk" class="nav-bar-logo">
        <img class="logo" src="//cdn.ulster.ac.uk/home/ulster-frontend/img/ulster-university-reverse.svg" alt="Ulster University">
      </a>
    </div>
    <div class="nav-bar-right">
      <ul class="menu">
        <li>
        <li>
          <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
            <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
            <div class="hamburger">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
 </div>
