<div class="cell small-{{cols}} medium-{{cols}} large-{{cols}}" data-area="true" data-area-url="https://www.ulster.ac.uk/news">
  <div class="white-bg shadow">
    <div class="grid-x">
      <div class="cell small-6 medium-3 large-3 p-r-20 p-small-r-0">
        <a href="https://www.ulster.ac.uk/news" aria-label="{{title}}">
          <img alt="{{title}}" class="hqy-lazy" data-src="https://via.placeholder.com/460x460" data-src-small="https://via.placeholder.com/233x155" src="//cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif">
        </a>
      </div>
      <div class="cell small-6 medium-9 large-9">
        <div class="p-t-20 p-small-t-10 p-small-r-10 p-small-l-10 p-small-b-10">
          <h3 class="h2 res-heading">
            <a href="https://www.ulster.ac.uk/news">
              {{title}}
            </a>
          </h3>
          <p class="lead hide-for-small-only">Include description of the news item to fill space on desktop.</p>
          <p class="m-b-0">24 February 2020</p>
        </div>
      </div>
    </div>
  </div>
</div>
