<!-- non-slider -->
<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell large-6">
    <div class="radius bordered shadow card" data-equalizer-watch="card-text">
      <div class="card-image">
        <a href="#">
          <img alt="useful alt text" src="https://www.ulster.ac.uk/__data/assets/image/0004/35815/adbe-slp.jpg">
        </a>
      </div>
      <div class="card-section">
        <h2 class="h4"><a href="#">This is a card</a></h2>
        <p>A carded section using Foundation</p>
        <a href="#" class="button">Find out more</a>
      </div>
    </div>
  </div>
  <div class="cell large-6">
    <div class="media-object">
      <div class="media-object-section">
        <a href="#">
          <img src="https://www.ulster.ac.uk/__data/assets/image/0008/82862/varieties/thumb-small.jpg">
        </a>
      </div>
      <div class="media-object-section">
        <h4><a href="#">Business Institute</a></h4>
        <p>Designed for investment in the people</p>
        <a href="#" class="button">Find out more</a>
      </div>
    </div>
    <div class="media-object">
      <div class="media-object-section">
        <a href="#">
          <img src="https://www.ulster.ac.uk/__data/assets/image/0008/82862/varieties/thumb-small.jpg">
        </a>
      </div>
      <div class="media-object-section">
        <h4><a href="#">Business Institute</a></h4>
        <p>Designed for investment in the people</p>
        <a href="#" class="button">Find out more</a>
      </div>
    </div>
  </div>
</div>
<!-- non-slider -->
