<!-- one -->
<hr><hr>
<h1>One</h1>
<div class="grid-x" data-equalizer>
  <div class="cell large-6">
    <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/width-800.jpg" alt="" />
  </div>
  <div class="cell large-6 off-white-bg">
    <div class="pad-60">
      <h2 class="h1"><a href="#">This is a card</a></h2>
      <p class="lead">A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p><a href="#" class="button large">Find out more</a></p>
    </div>
  </div>
</div>
<!-- two -->
<hr><hr>
<h1>Two</h1>
<div class="grid-x grid-padding-x" data-equalizer>
  <div class="cell large-6">
    <div class="grid-x">
      <div class="cell large-6">
        <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/square-640.jpg" alt="" />
      </div>
      <div class="cell large-6 off-white-bg">
        <div class="card-section">
          <h2><a href="#">This is a card</a></h2>
          <p>A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><a href="#" class="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="cell large-6">
    <div class="grid-x">
      <div class="cell large-6">
        <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/square-640.jpg" alt="" />
      </div>
      <div class="cell large-6 off-white-bg">
        <div class="card-section">
          <h2><a href="#">This is a card</a></h2>
          <p>A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><a href="#" class="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- three -->
<hr><hr>
<h1>Three</h1>
<div class="grid-x" data-equalizer>
  <div class="cell large-4">
    <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/square-640.jpg" alt="" />
  </div>
  <div class="cell large-8 off-white-bg">
    <div class="pad-60">
      <h2 class="h1"><a href="#">This is a card</a></h2>
      <p class="lead">A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p><a href="#" class="button large">Find out more</a></p>
    </div>
  </div>
</div>
<br>
<div class="grid-x grid-padding-x" data-equalizer>
  <div class="cell large-6">
    <div class="grid-x">
      <div class="cell large-6">
        <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/square-640.jpg" alt="" />
      </div>
      <div class="cell large-6 off-white-bg">
        <div class="card-section">
          <h2><a href="#">This is a card</a></h2>
          <p>A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><a href="#" class="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="cell large-6">
    <div class="grid-x">
      <div class="cell large-6">
        <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/square-640.jpg" alt="" />
      </div>
      <div class="cell large-6 off-white-bg">
        <div class="card-section">
          <h2><a href="#">This is a card</a></h2>
          <p>A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><a href="#" class="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- four -->
<hr><hr>
<h1>Four</h1>
<div class="grid-x" data-equalizer>
  <div class="cell large-4 cover-background">
    <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/square-640.jpg" alt="" />
  </div>
  <div class="cell large-8 off-white-bg">
    <div class="pad-60">
      <h2 class="h1"><a href="#">This is a card</a></h2>
      <p class="lead">A carded section using Foundation, A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      <p><a href="#" class="button large">Find out more</a></p>
    </div>
  </div>
</div>
<br>
<div class="grid-x grid-padding-x" data-equalizer>
  <div class="cell large-4">
    <div class="grid-x">
      <div class="cell large-12">
        <h2><a href="#">This is a card</a></h2>
      </div>
      <div class="cell large-12">
        <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/width-800.jpg" alt="" />
      </div>
      <div class="cell large-12 off-white-bg">
        <div class="card-section">
          <p>A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><a href="#" class="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="cell large-4">
    <div class="grid-x">
      <div class="cell large-12">
        <h2><a href="#">This is a card</a></h2>
      </div>
      <div class="cell large-12">
        <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/width-800.jpg" alt="" />
      </div>
      <div class="cell large-12 off-white-bg">
        <div class="card-section">
          <p>A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><a href="#" class="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="cell large-4">
    <div class="grid-x">
      <div class="cell large-12">
        <h2><a href="#">This is a card</a></h2>
      </div>
      <div class="cell large-12">
        <img src="https://www.ulster.ac.uk/__data/assets/image/0010/267148/varieties/width-800.jpg" alt="" />
      </div>
      <div class="cell large-12 off-white-bg">
        <div class="card-section">
          <p>A carded section using Foundation, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><a href="#" class="button">Find out more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
