<div class="grid-container p-b-60 p-small-b-20">
  <h2 class="m-b-30 m-small-b-10"><a href="https://www.ulster.ac.uk/research">Research &amp; Innovation</a></h2>

  <div class="grid-x grid-margin-x">
    <div class="cell medium-6 large-7">
      <div class="responsive-embed">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/wf9ehMjDmIQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell medium-6 large-5">
      <div class="grid-x grid-margin-y p-t-5 p-small-t-0">
        {{> item cols="12" title="This is a heading" desc="This is a short description."}}
        {{> item cols="12" title="This is a heading" desc="This is a short description."}}
        {{> item cols="12" title="This is a heading" desc="This is a short description."}}
      </div>
    </div>
  </div>
</div>
