<div class="cell large-3" data-sticky-container id="sidenav">
  <div class="radius bordered shadow card sticky" data-sticky data-top-anchor="sidenav:top">
    <div class="card-section">
      <h4>Related content</h4>
      <ul class="vertical menu">
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/apply-for-undergraduate-study-at-ulster-university">(( Apply ))</a>
          <ul class="menu vertical nested">
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/apply-for-undergraduate-study-at-ulster-university/test-sub-page">(( Test Sub Page ))</a>
              <ul class="menu vertical nested">
                <li class="">
                  <a href="https://www.ulster.ac.uk/study/undergraduate/apply-for-undergraduate-study-at-ulster-university/test-sub-page/test-sub-sub-page">(( Test Sub Sub Page ))</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/apply-content">(( Apply (content) ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/undergraduate-prospectus-2019-2020">(( Undergraduate Prospectus 2019-2020 ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/undergraduate-guide-2019-2020">(( Undergraduate Guide 2019-2020 ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/fees">(( Fees &amp; Funding ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/entrance-requirements">(( Entrance requirements ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/scholarships-and-bursaries">(( Scholarships &amp; Bursaries ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/student-experiences">(( Student Experiences ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/placements">(( Career/ Placements/ Work ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/study-abroad">(( Study Abroad (Link out) ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/study-abroad2">(( Study Abroad (Page) ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/faculties">(( Faculties at Ulster ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/associate-students">(( Associate students ))</a>
          <ul class="menu vertical nested">
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/associate-students/registration-and-enrolment">(( Registration and enrolment ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/associate-students/partnership-managers">(( Partnership Managers ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/associate-students/library-and-information-resources">(( Library and information resources ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/associate-students/academic-appeals">(( Academic appeals ))</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students">(( Students from England, Scotland and Wales ))</a>
          <ul class="menu vertical nested">
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/discounts-for-gb-students">(( Discounts ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/ucas-extra-2018">(( UCAS Extra 2018 ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/find-courses">(( Find courses ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/moving-to-northern-ireland">(( Moving to Northern Ireland ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/financial-support">(( Financial support ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/campuses">(( Campuses ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/accommodation">(( Accommodation ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/start-your-adventure">(( Start your adventure ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/travel-links-to-ulster">(( Travel Links to Ulster ))</a>
            </li>
            <li class="">
              <a href="https://www.ulster.ac.uk/study/undergraduate/gb-students/learning-and-living-in-northern-ireland">(( Learning and living in Northern Ireland ))</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/events">(( events ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/resources">(( resources ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/access-courses">(( Access courses ))</a>
        </li>
        <li class="">
          <a href="https://www.ulster.ac.uk/study/undergraduate/learning">(( learning ))</a>
        </li>
        <li class="is-active">
          <a href="https://www.ulster.ac.uk/study/undergraduate/fees-tester">(( Fees Tester ))</a>
        </li>
      </ul>
    </div>
  </div>
</div>
