<div class="grid-x grid-padding-x grid-padding-y">
	<div class="cell small-12 medium-3 large-3 small-order-3 hide-for-small-only">
		<div class="radius bordered shadow card">
			<ul class="uls-side vertical menu" id="section-nav">
				<li class="sub-section-link">
					<a class="off-white-bg" href="https://www.ulster.ac.uk/sport/memberships-and-pricing/jordanstown">Jordanstown <span class="show-for-sr">- view the Jordanstown webpages</span></a>
				</li>
				<li class="is-active">
					<a href="https://www.ulster.ac.uk/sport/memberships-and-pricing">Memberships <span class="show-for-sr">- view the Memberships webpages</span></a>
					<ul class="menu vertical nested">
						<li class="is-active">
							<a href="https://www.ulster.ac.uk/sport/memberships-and-pricing/jordanstown">Jordanstown <span class="show-for-sr">- view the Jordanstown webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/memberships-and-pricing/coleraine">Coleraine <span class="show-for-sr">- view the Coleraine webpages</span></a>
							<ul class="menu vertical nested"></ul>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/memberships-and-pricing/magee">Magee <span class="show-for-sr">- view the Magee webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/memberships-and-pricing/join-now">Join Now <span class="show-for-sr">- view the Join Now webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/memberships-and-pricing/for-staff-membership-paid-by-salary">For Staff: Membership paid by salary <span class="show-for-sr">- view the For Staff: Membership paid by salary webpages</span></a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="https://www.ulster.ac.uk/sport/bookings">Bookings <span class="show-for-sr">- view the Bookings webpages</span></a>
					<ul class="menu vertical nested">
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/bookings/staff">Staff <span class="show-for-sr">- view the Staff webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/bookings/student">Student <span class="show-for-sr">- view the Student webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/bookings/community">Community <span class="show-for-sr">- view the Community webpages</span></a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="https://www.ulster.ac.uk/sport/facilities">Facilities <span class="show-for-sr">- view the Facilities webpages</span></a>
					<ul class="menu vertical nested">
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/facilities/jordanstown">Jordanstown facilities <span class="show-for-sr">- view the Jordanstown facilities webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/facilities/coleraine">Coleraine facilities <span class="show-for-sr">- view the Coleraine facilities webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/facilities/magee">Magee facilities <span class="show-for-sr">- view the Magee facilities webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/facilities/hire-of-sports-facilities-t-and-cs">Hire of Sports Facilities T&amp;Cs <span class="show-for-sr">- view the Hire of Sports Facilities T&amp;Cs webpages</span></a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="https://www.ulster.ac.uk/sport/performance-sport">Performance Sport <span class="show-for-sr">- view the Performance Sport webpages</span></a>
					<ul class="menu vertical nested">
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/performance-sport/programmes">Performance Sport Programmes <span class="show-for-sr">- view the Performance Sport Programmes webpages</span></a>
							<ul class="menu vertical nested">
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/programmes/performance-sport-scholarships">Performance Sport Scholarship Scheme <span class="show-for-sr">- view the Performance Sport Scholarship Scheme webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/programmes/talented-athlete-scheme">Talented Athlete Entry Scheme <span class="show-for-sr">- view the Talented Athlete Entry Scheme webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/programmes/golf-scholarship-scheme">Performance Golf Programme <span class="show-for-sr">- view the Performance Golf Programme webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/programmes/performance-athlete-support-scheme">Performance Athlete Support Scheme <span class="show-for-sr">- view the Performance Athlete Support Scheme webpages</span></a>
								</li>
							</ul>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/performance-sport/services">Performance Sport Services <span class="show-for-sr">- view the Performance Sport Services webpages</span></a>
							<ul class="menu vertical nested">
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/services/environmental-chamber">Environmental chamber <span class="show-for-sr">- view the Environmental chamber webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/services/fitness-strength-and-conditioning">Fitness, strength and conditioning <span class="show-for-sr">- view the Fitness, strength and conditioning webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/services/endurance-athlete-assessments">Endurance Athlete Assessments <span class="show-for-sr">- view the Endurance Athlete Assessments webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/services/pre-season">Pre-Season Training <span class="show-for-sr">- view the Pre-Season Training webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/services/conditioning">Conditioning Camp <span class="show-for-sr">- view the Conditioning Camp webpages</span></a>
								</li>
								<li class="">
									<a href="https://www.ulster.ac.uk/sport/performance-sport/services/ultimate-spin">Ultimate Spin <span class="show-for-sr">- view the Ultimate Spin webpages</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="https://www.ulster.ac.uk/sport/community-sport">Community Sport <span class="show-for-sr">- view the Community Sport webpages</span></a>
					<ul class="menu vertical nested">
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/community-sport/junior-sports-camps">Junior Sports Camps <span class="show-for-sr">- view the Junior Sports Camps webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/community-sport/gym-membership">Gym membership <span class="show-for-sr">- view the Gym membership webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/community-sport/birthday-parties">Birthday parties <span class="show-for-sr">- view the Birthday parties webpages</span></a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="https://www.ulster.ac.uk/sport/weekly-classes">Classes <span class="show-for-sr">- view the Classes webpages</span></a>
					<ul class="menu vertical nested">
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/weekly-classes/jordanstown">Jordanstown <span class="show-for-sr">- view the Jordanstown webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/weekly-classes/coleraine">Coleraine <span class="show-for-sr">- view the Coleraine webpages</span></a>
						</li>
						<li class="">
							<a href="https://www.ulster.ac.uk/sport/weekly-classes/magee">Magee <span class="show-for-sr">- view the Magee webpages</span></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
