<div class="site-promo">
	<div class="white-text bg-core-blue p-t-10 p-b-10 show">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="cell large-6">
					<ul style="margin:0;">
						<li class="hide-for-small-only">
							<a class="bl text-white" href="https://www.ulster.ac.uk/coronavirus/supporting-the-safe-return-to-campus">Return to Campus - Key Information</a>
						</li>
						<li>We urge all our staff &amp; students to Stay Safe, Save Lives.</li>
					</ul>
				</div>
				<div class="cell large-6">
					<ul class="flt-r angle-right" style="margin:0 !important;">
						<li></li>
						<li>Covid-19 : Steps to take - <a href="https://www.ulster.ac.uk/coronavirus/students">for Students</a> | <a href="https://www.ulster.ac.uk/coronavirus/staff">for Staff</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-sky-blue white-text p-t-5 p-b-5">
		<div class="grid-container text-center">
			<p class="m-b-0"><span aria-hidden="true" class="fad fa-signal-stream fa-pulse"></span>&nbsp;&nbsp;<a class="bl p-t-10" href="https:////www.ulster.ac.uk//vod">Relive the Virtual Open Day</a></p>
		</div>
	</div>
</div>
