<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
    <a href="#modules" class="mdl-layout__tab">Modules</a>
    <a href="#entry" class="mdl-layout__tab">Entry</a>
    <a href="#careers" class="mdl-layout__tab">Careers</a>
    <a href="#fees-and-funding" class="mdl-layout__tab">Fees and Funding</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="apply" href="#">Apply Now</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id="contact" href="#">Contact us</a>
  </div>
</header>
