<div class="grid-x grid-margin-x grid-margin-y small-up-1 medium-up-3 large-up-3" data-equalizer>
   <div class="cell">
      <div class="card">
         <div class="card-section" data-equalizer-watch="true">
            <h3>%asset_metadata_heading-1%</h3>
            <div class="card-body">
               %asset_metadata_content-1%
            </div>
         </div>
         <a href="%asset_metadata_link-1^as_asset:asset_url%" class="button m-t-20">%asset_metadata_link-text-1%</a>
      </div>
   </div>
   <div class="cell">
      <div class="card">
         <div class="card-section" data-equalizer-watch="true">
            <h3>%asset_metadata_heading-2%</h3>
            <div class="card-body">
               %asset_metadata_content-2%
            </div>
         </div>
         <a href="%asset_metadata_link-2^as_asset:asset_url%" class="button m-t-20">%asset_metadata_link-text-2%</a>
      </div>
   </div>
   <div class="cell">
      <div class="card">
         <div class="card-section" data-equalizer-watch="true">
            <h3>%asset_metadata_heading-3%</h3>
            <div class="card-body">
               %asset_metadata_content-3%
            </div>
         </div>
         <a href="%asset_metadata_link-3^as_asset:asset_url%" class="button m-t-20">%asset_metadata_link-text-3%</a>
      </div>
   </div>
</div>
