@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

/*@import 'components/building-blocks/responsive-blog-post';
@import 'components/building-blocks/responsive-blog-footer';
@import 'components/building-blocks/tag-cloud';
@import 'components/building-blocks/responsive-nav-social';
@import 'components/building-blocks/pagination-pointed';
@import 'components/building-blocks/pagination-responsive-numbers';
@import 'components/building-blocks/image-hover-wrapper';
@import 'components/building-blocks/responsive-social-media-section';
@import 'components/building-blocks/card-flex-article';
@import 'components/building-blocks/read-more';
@import 'components/building-blocks/featured-blog-posts-panel';
@import 'components/building-blocks/quote-inline';
@import 'components/building-blocks/neat-article-container';
@import 'components/building-blocks/marketing-site-content-section';
@import 'components/building-blocks/marketing-site-features';
@import 'components/building-blocks/marketing-site-footer';
@import 'components/building-blocks/marketing-site-hero';
@import 'components/building-blocks/marketing-site-three-up';
@import 'components/building-blocks/topbar-responsive';
@import 'components/building-blocks/testimonial-block-vertical';
@import 'components/building-blocks/featured-testimonials';
@import 'components/building-blocks/testimonial-slider';
@import 'components/building-blocks/product-feature-section';
@import 'components/building-blocks/pricing-table';
@import 'components/building-blocks/topbar-center-logo';
@import 'components/building-blocks/app-feature-section';*/

@import 'components/custom/spacing-utilities';
