<div class="grid-x grid-padding-y grid-padding-x" data-equalizer>
  <div class="cell medium-3 large-3">
    <div class="radius bordered shadow card" data-equalizer-watch>
      <div class="card-image"> <a href=""> <img src="https://www.ulster.ac.uk/__data/assets/image/0013/17122/varieties/thumb-newsletter.jpg" alt="Accommodation"> </a> </div>
      <div class="card-section">
        <h4 class="h6"><a href="">Accommodation</a></h4>
        <p>High quality apartment living in Belfast city centre adjacent to the university campus.</p>
      </div>
    </div>
  </div>
  <div class="cell medium-3 large-3">
    <div class="radius bordered shadow card" data-equalizer-watch>
      <div class="card-image"> <a href="https://www.ulster.ac.uk/studentsupport"> <img src="https://www.ulster.ac.uk/__data/assets/image/0006/150936/varieties/thumb-newsletter.jpg" alt="Student Support"> </a> </div>
      <div class="card-section">
        <h4 class="h6"><a href="https://www.ulster.ac.uk/studentsupport">Student Support</a></h4>
        <p>At Student Support we provide many services to help students through their time at Ulster University.</p>
      </div>
    </div>
  </div>
  <div class="cell medium-3 large-3">
    <div class="radius bordered shadow card" data-equalizer-watch>
      <div class="card-image"> <a href="https://www.ulster.ac.uk/sport/facilities"> <img src="https://www.ulster.ac.uk/__data/assets/image/0020/93116/varieties/thumb-newsletter.jpg" alt="Sports Facilities"> </a> </div>
      <div class="card-section">
        <h4 class="h6"><a href="https://www.ulster.ac.uk/sport/facilities">Sports Facilities</a></h4>
        <p>Information about the outstanding facilities offered at Ulster University, membership, fitness packages, classes and facility hire.</p>
      </div>
    </div>
  </div>
  <div class="cell medium-3 large-3">
    <div class="radius bordered shadow card" data-equalizer-watch>
      <div class="card-image"> <a href="https://www.ulster.ac.uk/courses?query=&f.Campus|campus=Belfast"> <img src="https://www.ulster.ac.uk/__data/assets/image/0006/135474/varieties/thumb-newsletter.jpg" alt="Courses"> </a> </div>
      <div class="card-section">
        <h4 class="h6"><a href="https://www.ulster.ac.uk/courses?query=&f.Campus|campus=Belfast">Courses</a></h4>
        <p>Study at Ulster University's Belfast campus.</p>
      </div>
    </div>
  </div>
</div>
