<div class="grid-x grid-padding-x" data-equalizer="">
  <div class="cell large-12">
    <h2 class="h1 separator-left"><i class="fa fa-phone-square" aria-hidden="true"></i> Enquiry line
    </h2>
    <p>
      Contact our clearing and admissions enquiry line to apply to courses currently within clearing or if you have any questions or queries about your application.
    </p>
  </div>
  <div class="cell small-12 large-4">
    <h3 data-equalizer-watch="true">
       England, Scotland and Wales students
    </h3>
    <p><a href="tel:+442870287028" class="button large hollow">Call 028 7028 7028</a>
    </p>
  </div>
  <div class="cell small-12 large-4">
    <h3 data-equalizer-watch="true">
       Northern Ireland <br>students
    </h3>
    <p><a href="tel:+442870287028" class="button large hollow">Call 028 7028 7028</a>
    </p>
  </div>
  <div class="cell small-12 large-4">
    <h3 data-equalizer-watch="true">
       Republic of Ireland, EU and International students
    </h3>
    <p><a href="tel:+442870287028" class="button large hollow">Call +44 28 7028 7028</a>
    </p>
  </div>
</div>
