<div class="grid-x grid-padding-y grid-padding-x">
  <div class="cell large-12">
    <h2 class="h2 separator-left"><i aria-hidden="true" class="fa fa-calendar-check-o"></i> ((Context)) Events</h2>
  </div>
</div>
<div class="grid-x grid-padding-y grid-padding-x" data-equalize-on="" data-equalizer="">
  <div class="cell medium-4 large-4">
    <div class="radius bordered shadow card">
      <div class="card-divider">
        Saturday 17 February 2018<br>
        10:00AM - 4:00PM
      </div><img src="https://www.ulster.ac.uk/__data/assets/image/0003/55695/varieties/thumb-newsletter.jpg">
      <div class="card-section">
        <h4 class="h6"><a href="#">This is a card</a></h4>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
        <p><a class="button" href="#">Find out more</a></p>
      </div>
    </div>
  </div>
  <div class="cell medium-4 large-4">
    <div class="radius bordered shadow card">
      <div class="card-divider">
        Saturday 17 February 2018<br>
        10:00AM - 4:00PM
      </div><img src="https://www.ulster.ac.uk/__data/assets/image/0003/55695/varieties/thumb-newsletter.jpg">
      <div class="card-section">
        <h4 class="h6"><a href="#">This is a card</a></h4>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
        <p><a class="button" href="#">Find out more</a></p>
      </div>
    </div>
  </div>
  <div class="cell medium-4 large-4">
    <div class="radius bordered shadow card">
      <div class="card-divider">
        Saturday 17 February 2018<br>
        10:00AM - 4:00PM
      </div><a href="#"><img src="https://www.ulster.ac.uk/__data/assets/image/0003/55695/varieties/thumb-newsletter.jpg"></a>
      <div class="card-section">
        <h4 class="h6"><a href="#">This is a card</a></h4>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>
        <p><a class="button" href="#">Find out more</a></p>
      </div>
    </div>
  </div>
</div>
