<div class="angled-white-section white-bg image-promos-uls">
    <div class="grid-container pull-up white-bg">
      <div class="row">
        <div class="column column-block">
          <div class="cover-background text-center" style="background-image: url('https://www.ulster.ac.uk/__data/assets/image/0009/27774/varieties/thumb-larger.jpg');">
            <div class="bg-generic-pink-opacity">
              <div class="white-text">
                <h2 class="h3 text-shadow">Why choose Ulster</h2>
                <br>
                <br>
                <br>
              </div>
              <a href="#" class="button rounded shadow">Find out more&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="cover-background text-center" style="background-image: url('https://www.ulster.ac.uk/__data/assets/image/0009/35559/varieties/thumb-larger.jpg');">
            <div class="bg-generic-navy-opacity">
              <div class="white-text">
                <h2 class="h3 text-shadow">How to Apply</h2>
                <br>
                <br>
                <br>
              </div>
              <a href="#" class="button rounded shadow">Find out more&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="cover-background text-center" style="background-image: url('https://www.ulster.ac.uk/__data/assets/image/0005/268646/varieties/thumb-larger.jpg');">
            <div class="bg-generic-dark-purple-opacity">
              <div class="white-text">
                <h2 class="h3 text-shadow">Support</h2>
                <br>
                <br>
                <br>
              </div>
              <a href="#" class="button rounded shadow">Find out more&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="cover-background text-center" style="background-image: url('https://www.ulster.ac.uk/__data/assets/image/0003/27795/varieties/thumb-larger.jpg');">
            <div class="bg-generic-dark-green-opacity">
              <div class="white-text">
                <h2 class="h3 text-shadow">Study Abroad</h2>
                <br>
                <br>
                <br>
              </div>
              <a href="#" class="button rounded">Find out more&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="column column-block">
          <div class="cover-background text-center" style="background-image: url('https://www.ulster.ac.uk/__data/assets/image/0010/32977/varieties/thumb-larger.jpg');">
            <div class="bg-generic-light-blue-opacity">
              <div class="white-text">
                <h2 class="h3 text-shadow">Student Reviews</h2>
                <br>
                <br>
                <br>
              </div>
              <a href="#" class="button rounded shadow">Find out more&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
