<div data-sticky-container id="nav">
  <div class="white-text dark-grey-bg-trans">
    <div class="grid-container">
      <div class="sticky dark-grey-bg-trans" data-margin-top="0" data-sticky data-top-anchor="nav:top">
        <ul class="menu" data-magellan="">
          <li>
            <a class="button secondary hollow" href="https://www.ulster.ac.uk"><i aria-hidden="true" class="fa fa-angle-left"></i> <span class="show-for-sr">Back to: Ulster University</span></a>
          </li>
          <li>
            <a href="#section-1">Why Choose Ulster?</a>
          </li>
          <li>
            <a href="#section-2">Apply</a>
          </li>
          <li>
            <a href="#section-3">Supporting your application</a>
          </li>
          <li>
            <a href="#section-4">Study Abroad in Northern Ireland</a>
          </li>
          <li>
            <a href="#section-5">Student Reviews</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
