<ul class="uls-side vertical menu hide" id="section-nav">
  <li class="sub-section-link">
    <a class="off-white-bg" href="https://www.ulster.ac.uk/research/topic/biomedical-sciences">Biomedical Sciences <span class="show-for-sr">- view the Biomedical Sciences webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/about">About <span class="show-for-sr">- view the About webpages</span></a>
  </li>
  <li class="is-active">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research">Research Groups <span class="show-for-sr">- view the Research Groups webpages</span></a>
    <ul class="menu vertical nested">
      <li class="is-active">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/nutrition-innovation-centre-for-food-and-health">Nutrition Innovation Centre for Food and Health <span class="show-for-sr">- view the Nutrition Innovation Centre for Food and Health webpages</span></a>
        <ul class="menu vertical nested">
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/nutrition-innovation-centre-for-food-and-health/about">About <span class="show-for-sr">- view the About webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/nutrition-innovation-centre-for-food-and-health/courses">Courses <span class="show-for-sr">- view the Courses webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/nutrition-innovation-centre-for-food-and-health/research">Research Projects <span class="show-for-sr">- view the Research Projects webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/nutrition-innovation-centre-for-food-and-health/facilities">Facilities <span class="show-for-sr">- view the Facilities webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/nutrition-innovation-centre-for-food-and-health/publications2">(( Publications )) <span class="show-for-sr">- view the (( Publications )) webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/nutrition-innovation-centre-for-food-and-health/contact">Contact <span class="show-for-sr">- view the Contact webpages</span></a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine">Northern Ireland Centre for Stratified Medicine <span class="show-for-sr">- view the Northern Ireland Centre for Stratified Medicine webpages</span></a>
        <ul class="menu vertical nested">
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/about">About <span class="show-for-sr">- view the About webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/courses">Courses <span class="show-for-sr">- view the Courses webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/phd-opportunities">PhD Opportunities <span class="show-for-sr">- view the PhD Opportunities webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/research">Research <span class="show-for-sr">- view the Research webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/publications2">Publications <span class="show-for-sr">- view the Publications webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/contact">Contact <span class="show-for-sr">- view the Contact webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/phd-progression">(( PhD Progression )) <span class="show-for-sr">- view the (( PhD Progression )) webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/northern-ireland-centre-for-stratified-medicine/phd-progress">(( Doctoral Training )) <span class="show-for-sr">- view the (( Doctoral Training )) webpages</span></a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/centre-for-personalised-medicine">Centre for Personalised Medicine <span class="show-for-sr">- view the Centre for Personalised Medicine webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/diabetes">Diabetes Research Group <span class="show-for-sr">- view the Diabetes Research Group webpages</span></a>
        <ul class="menu vertical nested">
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/diabetes/about">About <span class="show-for-sr">- view the About webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/diabetes/research">Research <span class="show-for-sr">- view the Research webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/diabetes/courses">Courses <span class="show-for-sr">- view the Courses webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/diabetes/publications2">Publications <span class="show-for-sr">- view the Publications webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/diabetes/tech-transfer">Tech Transfer <span class="show-for-sr">- view the Tech Transfer webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/diabetes/research-networks">Research Networks <span class="show-for-sr">- view the Research Networks webpages</span></a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/genomic-medicine-research-group">Genomic Medicine Research Group <span class="show-for-sr">- view the Genomic Medicine Research Group webpages</span></a>
        <ul class="menu vertical nested">
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/genomic-medicine-research-group/courses">Courses <span class="show-for-sr">- view the Courses webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/genomic-medicine-research-group/publications2">Publications <span class="show-for-sr">- view the Publications webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/genomic-medicine-research-group/research">Research <span class="show-for-sr">- view the Research webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/genomic-medicine-research-group/contact">Contact <span class="show-for-sr">- view the Contact webpages</span></a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/optometry-and-vision-science-research-group">Optometry and Vision Science Research Group <span class="show-for-sr">- view the Optometry and Vision Science Research Group webpages</span></a>
        <ul class="menu vertical nested">
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/optometry-and-vision-science-research-group/courses2">Courses <span class="show-for-sr">- view the Courses webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/optometry-and-vision-science-research-group/research">Research <span class="show-for-sr">- view the Research webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/optometry-and-vision-science-research-group/publications2">Publications <span class="show-for-sr">- view the Publications webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/optometry-and-vision-science-research-group/contact">Group Members <span class="show-for-sr">- view the Group Members webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/optometry-and-vision-science-research-group/vision-resources">Ulster Vision Resources <span class="show-for-sr">- view the Ulster Vision Resources webpages</span></a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/pharmaceutical-science-and-practice">Pharmacy and Pharmaceutical Science Research Group <span class="show-for-sr">- view the Pharmacy and Pharmaceutical Science Research Group webpages</span></a>
        <ul class="menu vertical nested">
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/pharmaceutical-science-and-practice/research">Research <span class="show-for-sr">- view the Research webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/pharmaceutical-science-and-practice/publications2">Publications <span class="show-for-sr">- view the Publications webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/pharmaceutical-science-and-practice/contact">Contact <span class="show-for-sr">- view the Contact webpages</span></a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research/stratified-medicine">(( Stratified Medicine )) <span class="show-for-sr">- view the (( Stratified Medicine )) webpages</span></a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/phd-and-mres-opportunities">Postgraduate Research <span class="show-for-sr">- view the Postgraduate Research webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/animals-in-research">Animals in Research <span class="show-for-sr">- view the Animals in Research webpages</span></a>
    <ul class="menu vertical nested">
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/animals-in-research/about">About <span class="show-for-sr">- view the About webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/animals-in-research/animal-welfare">Animal Welfare <span class="show-for-sr">- view the Animal Welfare webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/animals-in-research/university-principles">University Principles <span class="show-for-sr">- view the University Principles webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/animals-in-research/case-studies">Case Studies <span class="show-for-sr">- view the Case Studies webpages</span></a>
        <ul class="menu vertical nested">
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/animals-in-research/case-studies/helping-children-see-again">Helping Children See Again <span class="show-for-sr">- view the Helping Children See Again webpages</span></a>
          </li>
          <li class="">
            <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/animals-in-research/case-studies/towards-effective-treatment-for-pancreatic-cancer">Animal models use and pancreatic cancer <span class="show-for-sr">- view the Animal models use and pancreatic cancer webpages</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units">Core Facility Units <span class="show-for-sr">- view the Core Facility Units webpages</span></a>
    <ul class="menu vertical nested">
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/bioimaging-core-facility">Bioimaging Core Facility <span class="show-for-sr">- view the Bioimaging Core Facility webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/biomedical-and-behavioural-research-unit">Biomedical and Behavioural Research Unit <span class="show-for-sr">- view the Biomedical and Behavioural Research Unit webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/cell-technologies-unit">Cell Technologies Unit <span class="show-for-sr">- view the Cell Technologies Unit webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/genomics-unit">Genomics Unit <span class="show-for-sr">- view the Genomics Unit webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/human-intervention-studies-unit">Human Intervention Studies Unit <span class="show-for-sr">- view the Human Intervention Studies Unit webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/metabolomics-and-proteomics-unit">Mass Spectometry Centre <span class="show-for-sr">- view the Mass Spectometry Centre webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/translational-medicine-unit">Translational Medicine Unit <span class="show-for-sr">- view the Translational Medicine Unit webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/core-facility-units/vision-science-unit">Vision Science Unit <span class="show-for-sr">- view the Vision Science Unit webpages</span></a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/research-integrity">Research Integrity <span class="show-for-sr">- view the Research Integrity webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/people">People <span class="show-for-sr">- view the People webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates">Updates <span class="show-for-sr">- view the Updates webpages</span></a>
    <ul class="menu vertical nested">
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/latest-advances-in-diabetes-research">Diabetes research <span class="show-for-sr">- view the Diabetes research webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/centre-for-personalised-medicine-first-steering-group-meeting">Centre for Personalised Medicine <span class="show-for-sr">- view the Centre for Personalised Medicine webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/international-partners-in-seychelles-child-development-study-gather-in-rochester">International partners in Seychelles Child Development Study gather in Rochester <span class="show-for-sr">- view the International partners in Seychelles Child Development Study gather in Rochester webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/may-research-and-innovation-in-healthcare-seminar">May Research &amp; Innovation Seminar <span class="show-for-sr">- view the May Research &amp; Innovation Seminar webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/stratified-medicine-recruiting-3-research-lecturers">Job opportunities in Stratified Medicine <span class="show-for-sr">- view the Job opportunities in Stratified Medicine webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/safe-water-project">Safe Water project <span class="show-for-sr">- view the Safe Water project webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/tmed9-conference-innovating-to-live-well-for-longer">(( TMED9 Conference )) <span class="show-for-sr">- view the (( TMED9 Conference )) webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/vitamin-d-workshop,-barcelona-may-2018">Vitamin-d workshop, Barcelona May 2018 <span class="show-for-sr">- view the Vitamin-d workshop, Barcelona May 2018 webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/new-industrial-phd-academy-to-support-10-phd-researchers">New industrial PhD Academy <span class="show-for-sr">- view the New industrial PhD Academy webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/biomed-at-bio2018">Biomed at BIO2018 <span class="show-for-sr">- view the Biomed at BIO2018 webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/nutrition-society-conference-2018-irish-section">Nutrition Society Conference 2018 <span class="show-for-sr">- view the Nutrition Society Conference 2018 webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/encoding-canonical-quadruplex-structure">(( Encoding Canonical Quadruplex Structure )) <span class="show-for-sr">- view the (( Encoding Canonical Quadruplex Structure )) webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/road-safety-get-your-sight-tested-every-2-years">Road Safety: get your sight tested every 2 years <span class="show-for-sr">- view the Road Safety: get your sight tested every 2 years webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/national-antimicrobial-resistance-phd-training-programme">National Antimicrobial Resistance PhD Training Programme <span class="show-for-sr">- view the National Antimicrobial Resistance PhD Training Programme webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/can-you-read-a-number-plate-from-20m-away">Can you read a number plate from 20m away? <span class="show-for-sr">- view the Can you read a number plate from 20m away? webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/the-shape-of-quadruple-helix-dna-can-be-controlled">The shape of quadruple-helix DNA can be controlled <span class="show-for-sr">- view the The shape of quadruple-helix DNA can be controlled webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/invent2018">(( #Invent2018 )) <span class="show-for-sr">- view the (( #Invent2018 )) webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/diabetes-research">Diabetes Research <span class="show-for-sr">- view the Diabetes Research webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/new-funded-phd-opportunities">(( New funded PhD opportunities )) <span class="show-for-sr">- view the (( New funded PhD opportunities )) webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/nature-microbiology-publication">Nature Microbiology publication <span class="show-for-sr">- view the Nature Microbiology publication webpages</span></a>
      </li>
      <li class="">
        <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/updates/frankincense-essential-oil-and-melanoma-cancer">Frankincense essential oil and melanoma cancer <span class="show-for-sr">- view the Frankincense essential oil and melanoma cancer webpages</span></a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/contact">Contact Us <span class="show-for-sr">- view the Contact Us webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/news">In the News <span class="show-for-sr">- view the In the News webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/events">(( Events )) <span class="show-for-sr">- view the (( Events )) webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/centre-for-personalised-medicine">(( Centre for Personalised Medicine )) <span class="show-for-sr">- view the (( Centre for Personalised Medicine )) webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/nutrition-innovation-centre-for-food-and-health">(( NICHE )) <span class="show-for-sr">- view the (( NICHE )) webpages</span></a>
  </li>
  <li class="">
    <a href="https://www.ulster.ac.uk/research/topic/biomedical-sciences/northern-ireland-centre-for-stratified-medicine">(( NI Centre for Stratified Medicine )) <span class="show-for-sr">- view the (( NI Centre for Stratified Medicine )) webpages</span></a>
  </li>
</ul>
