<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell large-4">
    <h2 class="separator-left">Business at Ulster University <br>Social</h2>
    <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Follow @UlsterBizSchool on Twitter</a></p>
    <p><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Careers at Ulster on LinkedIn</a></p>
  </div>
  <div class="cell large-8">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-6">
        <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Strengthening Ulster’s links with professional bodies and highlighting the range of international opportunities ava… https://t.co/b0kb5LfiLr</a></p>
      </div>
      <div class="cell large-6">
        <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Strengthening Ulster’s links with professional bodies and highlighting the range of international opportunities ava… https://t.co/b0kb5LfiLr</a></p>
      </div>
      <div class="cell large-6">
        <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Strengthening Ulster’s links with professional bodies and highlighting the range of international opportunities ava… https://t.co/b0kb5LfiLr</a></p>
      </div>
      <div class="cell large-6">
        <p><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Strengthening Ulster’s links with professional bodies and highlighting the range of international opportunities ava… https://t.co/b0kb5LfiLr</a></p>
      </div>
    </div>
  </div>
</div>
