<!-- 2. change made here adding relative inline style -->
<div class="grid-container show-for-large" style="position:relative;">
	<div class="grid-x">
		<div class="cell medium-6 large-6">
			<a class="brand service flt-l" href="https://www.ulster.ac.uk"><img alt="Ulster University" class="logo hqy-lazy" data-src="//cdn.ulster.ac.uk/home/ulster-frontend/img/ulster-university.svg?v=1.1" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> <span>ISD <span>Site strapline</span></span></a>
		</div>
		<div class="cell large-6 text-right">
			<a class="button bg-faded-grey text-dark-grey square" data-toggle="offCanvas"><i class="far fa-bars"></i>&nbsp;&nbsp;Elsewhere on Ulster</a>
		</div>
	</div>
	<!-- 3. microsite utility updated -->
	<div style="position:absolute; right:20px; bottom:55px;">
		<ul class="utility menu">
			<li>
				<a href="#"><i class="far fa-user-graduate"></i>&nbsp;&nbsp;Link Text</a>
			</li>
			<li>
				<a href="#"><i class="far fa-graduation-cap"></i>&nbsp;&nbsp;Link Text</a>
			</li>
			<li>
				<a href="#"><i class="far fa-question-circle"></i>&nbsp;&nbsp;Link Text</a>
			</li>
			<li>
				<a class="search" href="#"><i class="fad fa-search"></i>&nbsp;&nbsp;Search ISD</a>
			</li>
		</ul>
	</div>
	<!-- microsite utility updated -->
	<ul class="menu global-nav microsite">
		<li class="menu-item small">
			<a href="https://www.ulster.ac.uk">Home <span class="show-for-sr">- Ulster University website homepage</span></a>
		</li>
		<li class="menu-item">
			<a class="hover mega-menu-link" href="#">Section Link</a>
		</li>
		<li class="menu-item">
			<a class="mega-menu-link" href="#">Section Link</a>
		</li>
		<li class="menu-item">
			<a class="mega-menu-link" href="#">Section Link</a>
		</li>
		<li class="menu-item">
			<a class="mega-menu-link" href="#">Section Link</a>
		</li>
	</ul>
</div><!-- 3. search form reveal -->
<div class="bg-core-blue search-field">
	<form action="https://www.ulster.ac.uk/courses" class="course-finder" method="get" style="border-top:0;">
		<div class="grid-container">
			<div class="grid-x p-t-15 p-b-5 p-small-b-15">
				<div class="cell small-12 large-2 white-text text-center hide-for-small-only">
					<p class="h2 m-t-5">Search ISD</p>
				</div>
				<div class="cell small-12 large-9">
					<label class="show-for-sr" for="query">Keywords</label> <input autocomplete="off" class="input-group-field ui-autocomplete-input" id="query" name="query" placeholder="Search for courses, subject, campus, etc..." style="height:41px;" type="search">
				</div>
				<div class="cell small-12 large-1">
					<div class="m-r-20 m-medium-r-0 m-small-r-0">
						<button class="button radius shadow expanded m-b-0" type="submit"><span aria-hidden="true" class="fas fa-search"></span><span class="show-for-small-only">&nbsp;&nbsp;Course search</span></button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div><!-- 3. search form reveal -->
<div id="#main-content"></div>
<div class="hide-for-large">
	<!-- mobile menu -->
	<div class="multilevel-offcanvas off-canvas position-right" data-off-canvas="" data-transition="overlap" id="mobileMenu">
		<ul class="vertical menu grid-x grid-padding-y">
			<li>
				<a href="https://www.ulster.ac.uk"><img alt="Ulster University" class="brand hqy-lazy m-b-10" data-src="//cdn.ulster.ac.uk/home/ulster-frontend/img/ulster-university-reverse.svg" src="//cdn.ulster.ac.uk/home/ulster-frontend/img/blank.gif" width="120"></a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk">Home <span class="show-for-sr">- Ulster University website homepage</span></a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/study">Study <span class="show-for-sr">at Ulster University</span></a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/campus-life">Campus Life</a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/research">Research &amp; Impact</a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/business">Business <span class="show-for-sr">at Ulster University</span></a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/graduates">Graduates <span class="show-for-sr">- find out about Alumni and Supporters at Ulster University</span></a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/global">Global Students <span class="show-for-sr">– become part of our global community at Ulster University</span></a>
			</li>
			<li class="h4">
				<a href="https://portal.ulster.ac.uk">Current Students</a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/staff-links">Staff Links <span class="show-for-sr">– Resources for Ulster University staff</span></a>
			</li>
			<li class="h4">
				<a href="https://www.ulster.ac.uk/departments">Find staff & Departments <span class="show-for-sr">– search and browse Ulster’s staff directory</span></a>
			</li>
			<li class="h4">
				<a href="https://portal.ulster.ac.uk">Portal <span class="show-for-sr">– customise and access your online services</span></a>
			</li>
		</ul>
		<ul class="vertical menu">
			<li class="h4">
				<a href="https://twitter.com/StudyAtUlster"><span aria-hidden="true" class="fa fa-twitter-square"></span> Twitter <span class="show-for-sr">account for Ulster University</span></a>
			</li>
			<li class="h4">
				<a href="https://www.facebook.com/studyatulster"><span aria-hidden="true" class="fa fa-facebook-square"></span> Facebook <span class="show-for-sr">account for Ulster University</span></a>
			</li>
			<li class="h4">
				<a href="https://www.flickr.com/photos/universityofulster"><span aria-hidden="true" class="fa fa-flickr"></span> Flickr <span class="show-for-sr">account for Ulster University</span></a>
			</li>
			<li class="h4">
				<a href="https://www.youtube.com/user/StudyAtUlster"><span aria-hidden="true" class="fa fa-youtube-square"></span> YouTube <span class="show-for-sr">account for Ulster University</span></a>
			</li>
		</ul>
	</div>
	<div class="off-canvas-content" data-off-canvas-content="">
		<div class="nav-bar uls-mob">
			<div class="nav-bar-left">
				<a class="nav-bar-logo" href="https://www.ulster.ac.uk"><img alt="Ulster University" class="logo" src="//cdn.ulster.ac.uk/home/ulster-frontend/img/ulster-university.svg"></a>
			</div>
			<div class="nav-bar-right">
				<ul class="menu">
					<li><button class="button large clear mobSearchBtn" data-toggle="mobileSearch" type="button"><span class="show-for-sr">Search</span> <span aria-hidden="true" class="fa fa-search text-core-blue"></span></button></li>
					<li><button class="offcanvas-trigger button large clear" data-open="mobileMenu" type="button"><span class="show-for-sr">Menu</span> <span aria-hidden="true" class="fas fa-bars text-core-blue"></span></button></li>
				</ul>
			</div>
		</div>
		<!-- mobile search -->
		<div aria-hidden="true" class="hide" data-toggler=".hide" id="mobileSearch">
			<p class="bl m-b-0">Search ulster.ac.uk</p>
		</div>
		<!-- mobile search -->
	</div>
</div>
<h1 class="show-for-sr">Ulster University</h1>
