<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulster University</title>
    <link rel="stylesheet" href="{{root}}assets/css/course.css" media="screen">
  </head>
  <body>
    <!--site message-->
    <div class="site-promo">
    	   <div class="white-text bg-core-blue p-t-0 p-b-0 show">
    	      <div class="grid-container">
    	         <div class="grid-x grid-margin-x">
    	            <div class="cell large-7">
    	               <ul style="margin:0;padding:0;">
    	                  <li class="hide-for-small-only flt-l m-r-20"><a href="/coronavirus/safe-campus" class="bl text-white no-udl">Safe Campus Community</a></li>
    	                  <!--<li><a href="/coronavirus/">We urge all staff &amp; students to Stay Safe, Save Lives.</a></li>-->
                        <li><a href="/coronavirus/">Staff and students - Stay Safe, Save Lives.</a></li>
    	               </ul>
    	            </div>
    	            <div class="cell large-5 hide-for-small-only">
    	               <ul class="angle-right medium-up-text-right" style="margin:0 !important;">
    	                  <li>
    	                  </li>
    	                  <li>Steps to take - <a href="https://www.ulster.ac.uk/coronavirus/students">for Students</a> | <a href="https://www.ulster.ac.uk/coronavirus/staff">for Staff</a>
    	                  </li>
    	               </ul>
    	            </div>
    	         </div>
    	      </div>
    	   </div>
    </div>
    <!--site message-->

    {{> body}}

    <!-- cookie message -->
    <div aria-label="cookie banner" class="action-sheet" id="uls_cc" role="region">
    	<div class="grid-container">
    		<div class="grid-x grid-margin-x dark-grey-bg m-b-10 m-small-b-0 p-t-10 p-b-10 shadow">
    			<div class="cell small-9 medium-10 large-10">
    				<p class="text-white m-b-0">ulster.ac.uk uses cookies to give users the best experience possible.</p>
    				<p class="m-b-0"><a class="bl text-white" href="https://www.ulster.ac.uk/about/cookies">Find out more&nbsp;<span aria-hidden="true" class="fas fa-angle-right"></span></a></p>
    			</div>
    			<div class="cell small-3 medium-2 large-2">
    				<ul class="m-t-10 m-b-0 flt-r m-l-20 m-small-l-0 m-small-t-0">
    					<li>
    						<a class="bl m-b-0 m-l-20 m-small-l-0 text-white text-right-small" href="#" id="uls_cc_close"><span aria-hidden="true" class="fas fa-times-circle m-r-5"></span><span class="hide-for-small-only">&nbsp;Dismiss</span></a>
    					</li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- cookie message -->

    <!-- course auto suggest -->
    <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="width: 466.656px; position: relative; top: -4589.5px; left: 321.656px; display: none;">
       <li class="ui-menu-item">
          <a href="#" id="ui-id-3" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Music, Sound and Technology</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-4" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Environmental Management</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-5" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Geographic Information Systems</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-6" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Geography with optional placement year</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-7" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Fine Art (MFA)</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-8" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Environmental Management with Geographic Information Systems</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-9" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Marine Science</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-10" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Environmental Science with optional placement year</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-11" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Remote Sensing and Geographic Information Systems</div>
          </a>
       </li>
       <li class="ui-menu-item">
          <a href="#" id="ui-id-12" tabindex="-1" class="ui-menu-item-wrapper">
             <div class="title">Environmental Toxicology and Pollution Monitoring</div>
          </a>
       </li>
    </ul>
    <!-- course auto suggest -->

    <script src="{{root}}assets/js/course.js" async></script>
  </body>
</html>
