<div class="card-user-profile">
  <a href="#" class="card-user-profile-img">
    <img class="card-user-profile-img" src="https://www.ulster.ac.uk/__data/assets/image/0003/86286/varieties/thumb-newsletter.jpg" alt="picture of space" />
  </a>
  <div class="card-user-profile-content card-section">
    <div class="card-user-profile-avatar">
      <span class="fa fa-graduation-cap" aria-hidden="true"></span>
    </div>
    <h2 class="p-b-10">Open Days 2018</h2>
    <!--<p class="card-user-profile-status">Yeti Web Designer</p>-->
    <p>Open days give you the opportunity to experience life at Ulster. You can speak to staff and students, research courses that interest you, attend talks on various subject areas and check out what the campus has to offer including accommodation, learning resources and sports facilities.</p>
  </div>

  <div class="card-user-profile-actions">
    <a href="#" class="card-user-profile-button button hollow rounded expanded">More info&nbsp;&nbsp;<span class="fa fa-angle-right" aria-hidden="true"></span></a>
  </div>
</div>
